[2016-09-07 17:08] leMaik opened #1 "Auto complete support"
The component should support auto completion while entering a new value.

[2016-09-07 17:09] leMaik opened #2 "Chip editing"
I don't know if this is useful, but at least Angular Material supports editing existing chips.

[2016-09-07 17:14] leMaik opened #3 "Floating label"

[2016-09-07 23:25] #1 closed

[2016-09-08 10:46] #3 closed

[2016-09-09 17:19] acomito commented on #2
Can't hurt. I'd use it.

[2016-09-15 09:13] LittleCVR opened #4 "Required prop `children` was not specified && unknown props `onRequestAdd`, `onRequestDelete` on <input> tag"
I'm using material-ui-chip-input with React 15.3.1, Material-UI 0.15.4, the controlled example from the main page:

[code]

gives me these warnings:

[code]

Probably the children prop shouldn't be marked as `isRequired` in PropTypes?

Also seems like `onRequestAdd` and `onRequestDelete` were passed by `...other` down to the input element.

[2016-09-15 09:24] leMaik commented on #4
Thanks! I totally forgot updating the `propTypes` and (shame on me) ignored the warnings.

[2016-09-15 09:24] #4 closed

[2016-09-15 09:29] leMaik commented on #4
Fixed in v0.3.1, will be published in a moment...

[2016-09-15 12:34] LittleCVR commented on #4
Thanks for the quick fix! It complains no more about these 2 warnings, but I discovered a new one... will file another issue.

[2016-09-15 12:37] LittleCVR opened #5 "Warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of `ChipInput`."
Warning message complaint by React when there are actually chips:

[code]

I believe this is due to not assigning the key attribute to Chip element starting from line 319.

[2016-09-15 13:01] #5 closed

[2016-09-15 13:08] leMaik commented on #5
Fixed in v0.3.2.

[2016-09-15 14:26] ashl1 commented on #2
I vote not to realize this as:
1. Google Material Design doesn't tell about this behavior
2. Editing chips is not user-friendly UX pattern, because user only see delete button on the chip and easily understand that can delete and add new chip. Editing the chip breaks the logic and make it more sophisticated to user.
3. Chips may be used like a button, when clicking on chips will display full info

[2016-09-15 14:34] ashl1 commented on #2
And of course, we as the programmers are able to implement any we want, but Material Design was developed by UX designers, which may includes many AB-testing and focus groups testing. We shouldn't add new functionality based on our first thought.

[2016-09-15 14:49] ashl1 opened #6 "Width doesn't set through style property"
Seems, width set to ```undefined``` in https://github.com/TeamWertarbyte/material-ui-chip-input/blob/master/src/ChipInput.js#L312 if ```fullWidth``` isn't set.
I recommend to initialize structure with ```if``` statement instead of explicit using ```undefined``` with ternary operator. This prevent rewriting attributes defined in ```style``` property.
Another approach is to use ```style``` attribute

[2016-09-15 15:06] leMaik commented on #2
Totally  agree with @ashl1. Actually, it's as easy to delete a chip and add a new one as it is to edit one for the user. Right now, chips can't be used like buttons, though.

[2016-09-15 15:08] leMaik commented on #6
:open_mouth: Whoops... I didn't know that `Object.assign({foo: 42},{foo: undefined})` results in `{foo: undefined}`. I'll change this to an `if` structure, as you suggested, which will be more readable, too.

[2016-09-15 15:29] leMaik opened #7 "Floating label does not work without hint text"
The floating label in the following example is always floating. Hint text without floating label works, though.

[code]

[2016-09-15 15:36] #6 closed

[2016-09-15 15:41] ashl1 commented on #2
I know. I talked about Google Material Design specification:

https://material.google.com/components/chips.html#chips-behavior

[2016-09-15 15:47] leMaik commented on #2
That sounds like a neat feature for later. At least I could add a prop to customize the chip element.

[2016-09-15 15:49] #7 closed

[2016-09-15 16:16] acomito commented on #2
fair argument from IeMaik.

I have a use case where I'm adding emails. Some sort of validation hook may be nice. I'm not sure if the usual type="email" will do anything. I didn't get to testing it out.

[2016-09-15 17:00] leMaik commented on #2
@acomito Do you want to validate the input while the user is typing or when the user adds a tag? The latter would be possible in controlled mode (you could show a Snackbar to notify the user about an invalid e-mail adress).
Validation while typing sounds pretty cool and it is already possible to handle input changes using the `onUpdateInput` callback and perform validaton. Error texts are not yet

[2016-09-15 17:29] acomito commented on #2
I'm planning to dig into it tomorrow, so I'll report back. I'm not sure if it is possible (or would make sense) to wrap/integrate into fromsy-material-ui. But I'll check back in tomorrow with better feedback. Thanks for the notes on the current possibilities.

[2016-09-15 17:55] leMaik commented on #2
@acomito Integrating this with formsy-react is pretty straightforward, we do this in another project.

[code]

[2016-09-16 10:01] ashl1 commented on #2
@leMaik I think we should add this as an example in storybook. And sohuld think about collaboration with [formsy-material-ui](https://github.com/mbrookes/formsy-material-ui)

[2016-09-16 10:49] leMaik commented on #2
@ashl1 I agree that we should add this as an example.

Regarding formsy-material-ui: This project's (chip-input) scope is to provide a chip input, as a re-usable component that has no further dependencies than react and material-ui. Thus, I wouldn't like to include a formsy component in this repository, but it would be a cool thing for another project. I don't know if the guys over at formsy-mater

[2016-09-19 14:57] Sharlaan opened #8 "Redundant chips in popover"
I just discovered this new component which fits perfectly my current needs, very nice job !

Can i mention your project in official MaterialUI issues ? (i have a pending PR about autocomplete with Chips but didnot know about this project)

I also have 2 suggestions about the chips in popover:

1. Whenfirst focusin the input (no value typed), the autocomplete popover should show with all available

[2016-09-19 15:08] Sharlaan opened #9 "Support of arrayOf(object)"
Would it be possible to extend dataSource into accepting objects ( {label, value} for example) ?

[2016-09-19 15:34] Sharlaan opened #10 "[BUG][ControlledMode] selected chip appears as text"
When in controlled mode (value property set with selectedValues string[]), onRequestAdd receives the selected string properly, but the TextField displays this string directly instead of converting it into a \<Chip />.

[2016-09-19 16:32] #10 closed

[2016-09-19 16:36] Sharlaan commented on #10
Apologies, i posted too fast and found my mistake:

the function passed to onRequestAdd werenot fully adapted from object[] i had before, to string[] as the property value is asking for...

[2016-09-19 18:12] leMaik commented on #9
That would be possible, even without introducing breaking changes! Thanks for the suggestion, I'll add that soon.

[2016-09-19 18:16] leMaik commented on #8
I'm happy to see that this component is useful for some people. :) Of course, you can mention this project. I don't know if they'd merge this component into their core library, but if they want, I'd be all for it.

Regarding your suggestions:

- [ ] I'll add an option to display the popover even if no text is entered (if that is possible using `<AutoComplete />`
- [ ] That would be a good enhancem

[2016-09-19 19:37] leMaik commented on #2
Since chip editing won't be added, I'll close this issue.
@acomito If you have any issues integrating this with Formsy, please feel free to open a new ticket.

[2016-09-19 19:37] #2 closed

[2016-09-19 23:20] leMaik commented on #8
Your first suggestion was already possible using the `openOnFocus` prop. I added it to the props table in the readme so that it is easier to find.

If `openOnFocus` is set to `true`, the menu will open on focus, if there are auto-complete suggestions. That means that you need a filter that has results even without input, which the default filter does not do (it returns no results if there is no in

[2016-09-20 09:39] leMaik commented on #9
After re-reading this issue, I found that this is already possible using `dataSource` and `dataSourceConfig` to specify which attributes should be used for the labels and the values. See the [Auto Complete doc](http://www.material-ui.com/#/components/auto-complete) for more information.

At the moment, this component would use the labels as values, though. I don't really know how to handle this, b

[2016-09-20 19:53] Sharlaan commented on #8
Just tried, very nice !

Would it be possible to make the filter function as default value, so just have to include "openOnFocus" to get the functionality ?

[2016-09-20 20:36] leMaik commented on #8
1.  Thought about that, but I wasn't sure if that should be the default filter. The way it is now, it behaves liek `AutoComplete`, which makes it consistent.
2. I could re-open the menu, but it is [hard-coded](https://github.com/callemall/material-ui/blob/master/src/AutoComplete/AutoComplete.js#L287) to always close when pressing the enter key in the dropdown menu. :confused: I really don't want t

[2016-09-20 23:10] Sharlaan commented on #8
1. yes agreed, but the original AutoComplete is designed for a single value selection. Is a ChipInput also supposed to be same design ? Probably not ...

2. Indeed i noiced also this hard coded way for the close(), but maybe a look at my [PR#L247](https://github.com/callemall/material-ui/pull/5018/files#diff-f5a0978e337757ac80c1a1dd2072e1e8) would help you find an easy solution ? (actually i didno

[2016-09-20 23:34] leMaik commented on #8
1. Good point, I'll change the default value.
2. I'll look into that in the next days. I think I just need to override the event handler somehow (without copy/pasting `AutoComplete`)

[2016-09-21 18:58] leMaik commented on #8
@Sharlaan Didn't get number 2 to work. If you want to do this, a pull request would be highly appreciated. :)

[2016-09-21 19:01] leMaik opened #11 "Keep popover open"
In #8, the following improvement was suggested:

[2016-09-21 19:02] #8 closed

[2016-09-21 22:26] sameer-bridg opened #12 "Customizing Chip Styles"
Hi!

First of all, fantastic job with this component!

Is there any way to customize the style of the component (background, color, etc.) and what about adding an icon? (ref: http://www.material-ui.com/#/components/chip)

[2016-09-21 22:38] leMaik commented on #12
Thank you very much!

This is not possible yet, but it could be done if I add a `renderChip` prop that may contain a function that gets the chip value and returns a chip node.
Like this: `<ChipInput chipRenderer={(value) => <YourCustomChip value={value} />} />`

Would this approach suit your needs?

[2016-09-22 11:46] #12 closed

[2016-09-29 02:27] syntacticsugar opened #13 "Duplicate text after submit"
After typing text, example _"hello"_, and hitting enter, the chip properly displays, but the _'hello'_ text I typed still lingers immediately after the chip.  So it looks like this:

![screen shot 2016-09-28 at 10 23 19 pm](https://cloud.githubusercontent.com/assets/998068/18938913/37a3ad1c-85ca-11e6-88c8-9249adbe872f.png)

If this helps any, the 'ghost'/'phantom' text doesn't turn into a chip if

[2016-09-29 14:31] liuyang1204 opened #14 "onChange callback contains duplicated value when adding"
When adding a chip, onChange callback includes 2 values of the added chip.

[2016-09-29 19:20] leMaik commented on #14
I can't reproduce this, neither in controlled nor in uncontrolled mode. Could you please post your code?

[2016-09-29 19:23] leMaik commented on #13
This is due to a race condition of some events that I try to work around in a pretty ugly way at the moment. I'll see if I can come up with a better solution.

Your usage of the compopnent is correct, it even _needs_ to be inside a `MuiThemeProvider`. :wink:

[2016-09-29 19:54] umidbekkarimov commented on #9
@leMaik  Material UI is going to change AutoComplete API soon https://github.com/callemall/material-ui/issues/5062
___
btw Great Job!

[2016-09-29 19:57] leMaik commented on #13
@syntacticsugar (great username btw :laughing:) Does the commit above fix this issue for you? I'd publish a new version if so.

[2016-09-29 19:58] leMaik commented on #14
The commit mentioned above may fix this issue. Could you please re-check this?

[2016-09-29 19:59] leMaik commented on #9
@umidbekkarimov They are changing everything soon with the `next` branch and we actually [already started](https://github.com/callemall/material-ui/pull/5291) contributing to it. Thanks for the hint! :+1:

[2016-09-29 21:26] syntacticsugar commented on #13
Wow, thank you for the fast response 😀 I'm about to get on the subway and
commute, but as soon as I get home I'll investigate! 😄

On Sep 29, 2016 3:57 PM, "Maik Marschner" <notifications@github.com> wrote:

[2016-09-29 23:31] syntacticsugar commented on #13
Hello!  I spent the past hour trying to get your latest commit to work, but I'm not sure I'm succeeding.  Here's what I did:

1.  `npm install --save https://github.com/TeamWertarbyte/material-ui-chip-input.git#bb730e97a37f7`
2.  got this error upon `npm start` : "Module not found: Error: Cannot resolve 'file' or 'directory' ../node_modules/material-ui-chip-input in  [path to my project/src]
3.  t

[2016-09-30 02:34] liuyang1204 commented on #14
@leMaik Tested, it works, thanks!

[2016-09-30 06:37] pramttl opened #15 "Error when dataSource property is an array of objects instead of an array of strings"
The following error poups up in console when `dataSource` prop is an array of objects, instead of array of strings.
[code]
When the error occurs, the chip input does not work as expected. The dropdown still appears and shows the text correctly but after selecting an element a chip does not show up in the `ChipInput`.

Example:

This causes error:

[code]

This does not:

[code]

**Ideal Behavior**

[2016-09-30 07:44] leMaik commented on #13
@syntacticsugar Oh no! :( Here's how you can test it:

1. Clone this project, let's say into /home/syntacticsugar/material-ui-chip-input
2. In that directory, run `npm i && npm run build`
3. In your project directory, run `npm link /home/syntacticsugar/material-ui-chip-input`
4. ???
5. Profit! :smile:

But, since my commit from yesterday fixed #14, I'll publish a new release in a moment. So you co

[2016-09-30 07:52] pramttl commented on #14
I am able to replicate the same issue. The last selected chip is duplicated in the `chips` array passed on to `onChange` handler.

[2016-09-30 08:07] leMaik commented on #14
@pramttl Could you please try it with the new `v0.4.1` that I published a few minutes ago?

[2016-09-30 08:08] leMaik commented on #15
Duplicate of #9. I'll add this feature soon. :wink:

[2016-09-30 08:08] #15 closed

[2016-09-30 08:14] pramttl commented on #14
@leMaik Perfect. No duplication anymore.

[2016-09-30 08:15] leMaik commented on #14
Solved in `v0.4.1`.

[2016-09-30 08:15] #14 closed

[2016-09-30 10:30] Sharlaan opened #17 "default filter as caseInsensitive ?"
default filter is set as caseSensistive in v0.4.1

Would not it be better as caseInsensitive by default ?
(would just have to add .toLowerCase() to the filter function)

[2016-09-30 10:32] leMaik commented on #17
Indeed, that would be cool. You'd have to use `.toLowerCase()` on the value the user typed _and_ the auto complete values for comparison, though.
Do you want to create a PR for this?

[2016-09-30 10:38] Sharlaan opened #18 "filters enum"
How about exposing an enum for available filters ?

filters property would have specifications:
[code]

I think the underlying <AutoComplete/> already provides those 3 filters functions (and another one called levenshteinDistance i don't understand its behavior...).

[2016-09-30 10:39] leMaik commented on #18
This is out of the scope of this project. You can define your own filter when using this component with the `filter` prop and do any magic stuff you like. :wink:

[2016-09-30 10:39] #18 closed

[2016-09-30 10:42] Sharlaan commented on #17
me and PR = 2 ...

[2016-09-30 10:42] leMaik commented on #17
What? :smile:

[2016-09-30 10:55] Sharlaan commented on #17
Maybe something like this ?
[code]

[2016-09-30 10:57] leMaik commented on #17
The filter needs to match every value if the input is empty so that the dropdown menu opens automatically on focus. The default filters of `AutoComplete` don't do this. That's why we have to provide our own default filter.

[2016-09-30 11:00] leMaik commented on #17
@Sharlaan Re-using `AutoComplete`s filters sounds good to me. I'll change the way the auto-open feature works (and resolve this issue while I'm on it). :+1:

[2016-09-30 11:08] Sharlaan commented on #17
Thanks but my current tests seem to show the filter property doesnot take any provided function:
[code]

... still gives caseSensistive behavior while should be insensitive.

[2016-09-30 11:09] leMaik commented on #17
@Sharlaan I'm currently fixing that. :+1:

[2016-09-30 11:10] Sharlaan commented on #17
Impressive answer speed  👍

[2016-09-30 11:25] Sharlaan opened #19 "Reset empty input's height"
An image is better than words:
![resetemptyinputheight](https://cloud.githubusercontent.com/assets/2692027/18990251/ea12dc9c-8710-11e6-979a-2d2278f2a9f0.png)

Looks like the input is taking unnecessary and ugly space ?

While at it, i noticed also when typing some search text, then exiting without selecting any option, the input still conserve the typed text instead of reseting onBlur ?

[2016-09-30 11:28] leMaik commented on #19
This is by design. You may think that this space is "ugly", but the user needs some space to click and edit stuff, so that's what this is for. Angular Material also does this, and I didn't have a better idea. It's kind of related to #16 which I closed for that reason.

Resetting the search text on blur is a good idea. I'll add that.

[2016-09-30 11:31] Sharlaan commented on #19
Suggestion: how about "deporting" this input inline at end of the Chips container ?

[2016-09-30 11:45] leMaik commented on #17
This works now:
[code]

[2016-09-30 11:46] #17 closed

[2016-09-30 13:25] Sharlaan commented on #17
Great job, default caseInsensitive works perfect !

but... filter={AutoComplete.fuzzyFilter} means user has to import { AutoComplete } from 'material-ui' on top of importing material-chip-input....

That's why i suggested the enum in Issue #18 .

[2016-09-30 14:39] leMaik commented on #17
@Sharlaan I won't add any filter in this component. Importing `AutoComplete` adds no overhead at all, as this component also uses `AutoComplete`.

[2016-09-30 15:40] syntacticsugar commented on #13
Hello, I still have the same exact issues, even after 1) going through your steps outlined above, and 2) deleting my node_modules/ and reinstalling your package with `npm i --save material-ui-chip-input`

I'm going to debug this further as there might be something wrong I'm doing on my end regarding making sure I have the latest/fixed version, and I'll get back to you!

[2016-09-30 15:54] Sharlaan commented on #11
i've tried this
[code]
it should work ... but something else is closing the menu right after. i couldnot figure out what (without rewriting whole AutoComplete component).

[2016-09-30 17:02] syntacticsugar commented on #13
__GOT IT TO WORK!__ 🎆 🎆

After trying different creative approaches and failing (& getting tons of errors in Chrome browser console), I learned that `npm link` creates a symlink that needs to be manually deleted.  I didn't know how, but I ran:

1.  `npm rm --global material-ui-chip-input`
2.  `rm -rf node_modules/material-ui-chip-input`
3.  `npm i --save material-ui-chip-input`
4.   restarted the

[2016-09-30 17:03] leMaik commented on #13
That's nice to hear. :) Glad that this is fixed.

[2016-09-30 17:03] #13 closed

[2016-09-30 17:14] leMaik commented on #11
Maybe we should wait with this until the `next` branch of Material-UI is released. It's a full rewrite and it might make this simpler.

[2016-09-30 17:52] Sharlaan commented on #11
Let's hope yes

[2016-09-30 18:03] Sharlaan commented on #17
[code]

compared to:
[code]

[2016-09-30 18:08] leMaik commented on #17
Wow, that's one line in your code vs. more code I have to maintain. :-1: I'm still not convinced.

[2016-09-30 18:10] Sharlaan commented on #17
true it's more typing for you, i just meant AutoComplete reference should be purely internal.

[2016-09-30 18:40] leMaik commented on #17
Oh, I see what you mean. You don't want to depend on `AutoComplete` because it's just an implementation detail? Just think of the `filter` function as of _any_ function, where `AutoComplete.fuzzyFilter` (and the other functions) fortunately have the same interface and thus can be used. :)

[2016-09-30 19:12] Sharlaan commented on #17
Ok got it, sorry i didnot realize the "single interface for any filter function" pattern.
Fine with that.

[2016-09-30 22:45] syntacticsugar opened #20 "Styling the chip input"
Hello! I'm kind of new to inline styling in React.  Specifically, for components that create nested divs without classes (and instead of inline styles) that I cannot access from the code I use to create that component.

For example, among other things, I'd like to increase the size of the input text as shown:
![screen shot 2016-09-30 at 6 17 18 pm](https://cloud.githubusercontent.com/assets/998068

[2016-10-01 10:37] saschb2b commented on #20
The best option would be to support multiple styles via prop. The current styles prop only supports to override the root element.
We could introduce more style props like:
- style = root (the whole component. Already exists)
- inputStyle = style of the input (for example to make the font bigger)
- chipStyle = style of the chip (for example colored background)

This is also the way material-ui hand

[2016-10-01 11:14] Sharlaan commented on #20
Additional infos that might of some interest :
[code]
![additionalinfos](https://cloud.githubusercontent.com/assets/2692027/19013610/13b57238-87d6-11e6-92c1-4c4c9cebc2b0.png)
Somehow the border-color green gets overriden

Explanations:
ChipInput is based on MaterialUI's AutoComplete, which is itself composed of components TextField and Popover.
[TextField](http://www.material-ui.com/#/components/t

[2016-10-01 18:51] leMaik commented on #20
@syntacticsugar @saschb2b I wanted to at first, but then I didn't implement a `chipStyle` property. It is even more flexible by allowing to specify a `chipRenderer`.

Example (from the stories):
[code]

You can use this to create any chip style you want, e.g. chips with avatars. And when #9 is done, it's even more powerful. :)

[2016-10-04 14:50] gontard opened #21 "How to integrate in redux-form"
Hello,

i am trying to integrate your component with [redux-form](https://github.com/erikras/redux-form).
I wrote

`<Field name="myField" component={ChipInput} hintText='...' />`

but the field the edited values are not linked with the redux-form state.
Any suggestion ?

[2016-10-04 18:40] leMaik commented on #21
Please take a look at [http://redux-form.com/6.0.5/examples/material-ui/](these examples). It looks like you need to write some kind of `renderChipInput` function that connects this component and the `Field`. Sounds like a good new project for you. :)

[2016-10-05 12:49] gontard commented on #21
Thanks for the hint.

I found this solution. It works but i am really not sure if it is the right way to do it.

[code]

and i use the function in a redux-form field:

`        <Field
          name="myValue"
          component={ renderChip }
          hintText='...'
          floatingLabelText='Value'
        />`

Now, i have a new problem, the style is not applied to the Chip:

![capture d ecra

[2016-10-05 13:23] leMaik commented on #21
:open_mouth: Does your CSS overwrite any of the chip's default styles?

[2016-10-06 01:22] anykao opened #22 "How to blur on every selection."
Thanks for the great work.

 I want user to select predefined items, so I'm using it by setting `openOnFocus`.
But when one selection is complete, the focus is not changing. I have to click some other where to make the popup open again.

Can I  programmingly do this in `onRequestAdd` callback.

[2016-10-06 07:57] leMaik commented on #22
This should to the trick:
[code]

From a UX point of view, I don't think that the solution is to blur after each selection, but rather to keep the menu open, isn't it? :wink: That's not supported at the moment but is requested in #11.

[2016-10-06 12:40] gontard commented on #21
You were right 👍

The style came from by this rule in the `normalize.css`.

[code]

[2016-10-06 12:43] #21 closed

[2016-10-06 15:18] syntacticsugar commented on #20
I'll look into all this over the next few days, and get back with my updates, thank you!

[2016-10-07 21:58] takealuke commented on #9
I was able to use chipRenderer to define a function that processes an object to create the chip (using a value from a prop within that object) BUT: when I try to use handleAddChip or handleDeleteChip (which the documentation claims receive "chips" as arguments) I only receive the string value.

To elaborate. here's my code within the chipRenderer function ( where value is { text: <uniqueIDString>,

[2016-10-07 23:55] leMaik commented on #9
@takealuke It's cool that you can already achieve this by using a custom `chipRenderer`, that's the way I'd like this feature to be implemented. :+1: The documentation claims that `onRequestAdd` and `onRequestDelete` only receive string values (the value of the chip to be added or deleted), so this is _not_ a bug.
The problem right now is that there is no way to get `onRequestAdd` to be called wit

[2016-10-09 08:33] udiedrichsen opened #27 "Update to material-ui 0.16 ?"
Would be great to have an update to  material-ui 0.16

[2016-10-10 09:30] #27 closed

[2016-10-10 09:31] leMaik commented on #27
Nothing to update, it just works. I updated the peer dependency to `>= 0.15.0 <= 0.16.x` so that npm doesn't complain when using this with material-ui 0.16 :+1:

[2016-10-12 19:33] joshjg opened #28 "Missing errorText prop"
The `errorText` prop of material-ui's [SelectField](http://www.material-ui.com/#/components/select-field) and [TextField](http://www.material-ui.com/#/components/text-field) components doesn't seem to be implemented here.

[2016-10-13 16:03] leMaik commented on #28
Whoops... I'll fix that asap. :+1:

[2016-10-13 16:15] #28 closed

[2016-10-13 16:16] leMaik commented on #28
Supported as of v0.6.0.

[2016-10-13 18:45] joshjg commented on #28
Thanks for the quick fix!

[2016-10-13 22:26] max-l commented on #9
I've been trying to use @takealuke's approach, the only way my custom chipRenderer gets called is if the dataSource fields contains strings, that creates other problems,

If I supply a dataSourceConfig={{text:'label', value: 'value'}},
then I get the  Invalid prop `dataSource[0]` of type `object` supplied to `ChipInput`, expected `string`.
error...

I'd really love to have that dataSource as array

[2016-10-13 23:28] leMaik commented on #9
@max-l I totally get that you'd love to have this working. At the moment, this feature isn't implemented, I'm afraid. :disappointed: That's why it doesn't work for you. I'll try to implement this this weekend. :+1:

[2016-10-15 11:11] chaitanya0bhagvan commented on #9
@leMaik Would love to test out this feature if its ready.

[2016-10-16 21:22] leMaik commented on #19
The problem is that you won't see the typed text if the input is too small and located at the very right of the container. I'd like to keep it as it is.

[2016-10-16 21:22] leMaik commented on #19
...or maybe I could expost an `inputStyle` prop so that you can customize it yourself? :wink:

[2016-10-20 11:08] voxbox-io opened #30 "with autocomplete, custom filter, open on focus #question"
Hi
Could you provide the source of the example 'with autocomplete, custom filter, open on focus' ?
Grazie

[2016-10-20 11:29] leMaik commented on #30
It's already open source. :wink: Please have a look at https://github.com/TeamWertarbyte/material-ui-chip-input/blob/master/stories/index.js#L59

[2016-10-20 11:29] #30 closed

[2016-10-20 11:40] leMaik commented on #22
@anykao Did my response help you and how did you solve the issue in the meantime?

[2016-10-20 14:57] voxbox-io commented on #30
I must have been sleeping this morning!
👍

[2016-10-20 14:59] voxbox-io commented on #30
I have one question though: can I use a custom dataSourceConfig = {
      text: 'text',
      value: 'value',
    }
or does it only support flat array?

Thanks

[2016-10-20 15:19] leMaik commented on #30
It will support this soon, see #9.

[2016-10-20 20:03] leMaik commented on #9
@chaitanya0bhagvan I finally started adding this. :tada: Please take a look at the _key-value-chips_ branch and let me know what you think and if it works!

[2016-10-21 07:11] voxbox-io commented on #9
Thanks! I tried but it's not working for me. It still works with standard flat array as dataSource, but not with a custom dataSourceConfig :

    const dataSourceConfig = {
      text: 'text',
      value: 'value',
    }

The dropdown options do show, but selecting an option from the dropdown doesn't add it as a chip.

I am using MaterialUI 0.16.0

[2016-10-21 11:58] leMaik commented on #9
@voxbox-io Are you sure? That worked for me, in the story I added.

[2016-10-21 14:49] voxbox-io commented on #9
Quite sure, this simple example is not working for me:

<ChipInput
            dataSource={[{ text: 'Chip 1', value: 'one' }, { text: 'Chip 2', value: 'two' }]}
            dataSourceConfig={{ text: 'text', value: 'value' }}
            defaultValue={[{ text: 'Chip 1', value: 'one' }]}
/>

It shows default values OK, but clicking on any value from dropdown throws error 'Cannot read property 'refs'

[2016-10-21 15:46] chaitanya0bhagvan commented on #9
@leMaik Yes I got the same error as @voxbox-io . I cloned your repo and ran your storybook example even that is not working. I am not able to add or delete chips. I tried this code in my project and found that the call backs are not getting called at all.

[2016-10-21 19:28] leMaik commented on #9
Allright, allright. :wink:

[2016-10-23 17:54] leMaik commented on #9
@chaitanya0bhagvan @voxbox-io I think I fixed this. :) Could you please try again if it works for you now?

[2016-10-23 21:28] max-l commented on #9
Just tried this branch : https://github.com/TeamWertarbyte/material-ui-chip-input/commit/a6e266dc18a2649205b563b96a60c1f3919e6ab8

and I confirm that it works when using a dataSource of objects and setting the proper
 dataSourceConfig

Thanks !

[2016-10-24 08:07] voxbox-io commented on #9
Works like a charm now, thanks! 👍

[2016-10-24 09:13] leMaik commented on #9
Great! I'll merge the changes into master, then.
A new issue that came to my mind is that it's currently not possible to disallow adding _custom_ chips (with values that are not available in `dataSource`) in uncontrolled mode. I'm not sure if this is something that this component should handle or if this should be left for the reducer to decide in controlled mode. I'd prefer the later approach, bu

[2016-10-24 09:19] #9 closed

[2016-10-24 09:48] chaitanya0bhagvan commented on #9
@leMaik Works as expected. Thanks for a very useful component.

[2016-10-24 09:50] chaitanya0bhagvan commented on #9
@leMaik I am getting a error when I press 'Key Down' to open the autocomplete options.

![Stacktrace](https://cloud.githubusercontent.com/assets/4795989/19641079/32bd5e0a-99fd-11e6-82c6-b7329ed4f12c.png)

[2016-10-24 10:03] leMaik commented on #9
@chaitanya0bhagvan Please open a new issue, this doesn't seem to be related to this. :wink:

[2016-10-24 22:37] leMaik commented on #9
@chaitanya0bhagvan I can't reproduce the error, but I'm not sure if I did the same steps. Could you please provide a minimal example that produces the error?

[2016-10-25 13:13] chaitanya0bhagvan commented on #9
@leMaik You can reproduce this error in your story book. Select **with autocomplete** or **objects as chips, uncontrolled** or **objects as chips, controlled** click on the input and press down arrow twice. As you the autocomplete options an error is thrown in the console.

[2016-10-25 20:48] leMaik opened #32 "Pressing key down causes exceptions"
Copied from https://github.com/TeamWertarbyte/material-ui-chip-input/issues/9#issuecomment-255696569 by @chaitanya0bhagvan

[2016-10-25 20:49] leMaik commented on #9
@chaitanya0bhagvan Thank you! :+1: Moved this to #32.

[2016-10-25 20:54] #32 closed

[2016-10-26 13:45] voxbox-io opened #33 "Feature request ErrorStyle"
Hi!

I think that just by adding:

[code]

instead of:

[code]

in the error style, you could make it customizable.

Just a thought!

[2016-10-26 14:00] leMaik commented on #33
Sounds good to me! Want to submit a PR (please also add it to the readme)? :+1:

[2016-10-27 07:59] voxbox-io commented on #33
Ok will do so by EOW!

[2016-10-27 11:12] leMaik commented on #33
@voxbox-io I think I was wrong about the handling of `errorColor`. The style should be `{ ...props.errorStyle, color: <check if error> ? (props.errorStyle.color || errorColor) : errorcolor }`, so that it shows the user-specified color if there is an error and falls back to the default color otherwise.

[2016-10-31 11:48] leMaik commented on #33
@voxbox-io `errorStyle` currently works the same as for Material UI's `TextField`. I wouldn't like to add it then, seems somewhat non-straightforward. :confused:

[2016-11-03 16:21] acomito commented on #11
any update on this?

[2016-11-03 18:01] leMaik commented on #11
@acomito Not yet. :disappointed: Do you have any idea on how to implement this?

[2016-11-04 13:38] acomito commented on #11
I may have misinterpreted what was asked for here. I just added `openOnFocus` and got the functionality I needed.

p.s. great package

[2016-11-06 07:18] trelly opened #34 "style bug on safari"
"-webkit-appearance: textfield" show border on safari.
![image](https://cloud.githubusercontent.com/assets/172466/20035956/d1223b48-a433-11e6-969c-7ad8664c0dfd.png)

[2016-11-06 09:54] leMaik commented on #34
@trelly Please try `style={{ outline: 'none !important' }}`. I'll add it as default is that fixes the problem (I don't have access to Safari for testing right now).

[2016-11-08 16:31] taxigy commented on #34
[code]
worked for me.

[2016-11-08 20:59] leMaik commented on #34
Does the border appear _by default_? I'd put @taxigy's fix in the code, if so.

[2016-11-09 11:22] admacleod opened #35 "Set keyCode for rendering new Chip in prop"
It would be helpful to be able to set the keycode for triggering the creation of a new prop to be on a key other than 13 (enter).

I have created an example of how this could be done in my own fork but it seems like something that could be useful for everyone.

[2016-11-09 14:38] arunondeck commented on #35
I'm also looking for the same.

[2016-11-09 14:52] arunondeck opened #36 "chip input and chip showing up on different lines"
![1 chip_on_same_line](https://cloud.githubusercontent.com/assets/2003354/20142438/ad68f126-a6cf-11e6-8f9e-8327a83a70fd.png)
This is the chip input as shown on the [demo page](https://teamwertarbyte.github.io/material-ui-chip-input/?selectedKind=ChipInput&selectedStory=with%20auto%20complete&full=0&down=1&left=1&panelRight=0&downPanel=kadirahq%2Fstorybook-addon-actions%2Factions-panel)

But what I

[2016-11-09 16:02] netsov opened #37 "AutoComplete fullWidth support"
`AutoComplete` component doesn't get passed `fullWidth` prop.

[2016-11-09 16:05] netsov commented on #37
duplicate https://github.com/TeamWertarbyte/material-ui-chip-input/pull/16

[2016-11-09 17:04] leMaik commented on #37
@netsov It's already fixed, do you use the latest version?

[2016-11-09 17:05] leMaik commented on #36
The input field jumps onto the next line if there isn't enough space left on the last line, so this is by design. On the demo page, I use `fullWidth` so that the component takes up the available width.

[2016-11-09 17:16] leMaik commented on #35
@admacleod Pull requests welcome! :+1:

[2016-11-09 20:04] #35 closed

[2016-11-09 22:38] netsov commented on #37
Yes, I'm using 0.9.1. I don't see it's fixed. You mentioned here (
https://github.com/TeamWertarbyte/material-ui-chip-input/pull/16) that it's
by design.

On Wed, Nov 9, 2016 at 12:04 PM, Maik Marschner <notifications@github.com>
wrote:

--

Alexey

[2016-11-09 22:56] leMaik commented on #37
@netsov Realized that after I wrote the comment, so i deleted it. :wink:

[2016-11-09 22:58] leMaik commented on #37
@netsov I realized that it is related to #16 and by design right after I wrote the comment.

`fullWidth` makes the _ChipInput_ full-width, not the underlying _AutoComplete_. I think that this is what this prop is meant to do.

I think this is more a feature request than a bug report. I could add a way to make the input field _always_ appear on the second line, at full width. Would that fix your us

[2016-11-09 22:59] leMaik commented on #35
@admacleod I improved your solution so that it supports more than one key code, e.g. `[188, 13, 32]` (space, enter, comma) seems to be a good combination.

[2016-11-09 23:05] netsov commented on #37
@leMaik yes! it would be perfect! Thanks!

[2016-11-10 03:47] arunondeck commented on #36
Thank you! So by setting a min-width I am able to get it to the same line.

[2016-11-10 03:47] #36 closed

[2016-11-10 16:23] TeeShastry opened #39 "Auto open on focus bug/ feature"
Hi,

I am having an issue with the control. I am using autocomplete with openonfocus for the Chipinput control and my expecetd behaviour is as soon as I select an option, it should open the dropdown automatically.
But what I see is once I select the option I need to click the mouse two times to open the dropdown, sometimes I need change the cursor position before clicking on it to open it. Basical

[2016-11-10 16:40] leMaik commented on #39
Duplicate of #11

[2016-11-10 16:40] #39 closed

[2016-11-10 18:00] TeeShastry commented on #39
Thank you!

[2016-11-12 23:58] kyteague opened #40 "Two chips added when clicking autocomplete menu item"
Looks like it's a regression in the 0.9.0 release, specifically this commit: https://github.com/TeamWertarbyte/material-ui-chip-input/commit/a6e266dc18a2649205b563b96a60c1f3919e6ab8#diff-acb87ac4d1cdb3b6518879923e905559L164

Another call to handleAddChip() was added to the handleItemTouchTap().  Simply commenting out that line fixes the issue.

[2016-11-13 15:26] leMaik commented on #40
I can't reproduce this, but I'll remove the line that was added.

[2016-11-13 15:34] leMaik commented on #40
I'm afraid I can't reproduce this bug. Could you please provide code that reproduces the bug?

[2016-11-14 18:06] sever2715 opened #41 "Uncaught Invariant Violation: addComponentAsRefTo"
- fail-case.jsx:

[code]

- fail-case.html:

[code]

- browser console output:

[code]

[2016-11-14 21:13] leMaik commented on #41
@sever2715 Did you make sure that you have only one copy of React loaded? I've never seen this error while using this component, and your example is pretty trivial.

[2016-11-15 17:37] sever2715 commented on #41
Hello @leMaik!

You are right, indeed it was in the two versions of the loaded React libraries(already exist `15.4.0-rc.4` and `15.3.2` dependence for material-ui-chip-input).
To solve my problem downgrade it to `15.3.2`.

Thank you for a wonderful component!

[2016-11-15 19:48] leMaik commented on #41
@sever2715 Glad that you could solve this. material-ui-chip-input only dev-depends on react, so it shouldn't be a problem to use a newer version of React, though. But well, it's npm, resolving dependencies is unpredictable anyway. :sweat_smile:

Thank you for using muci. :)

[2016-11-15 19:48] #41 closed

[2016-11-16 13:38] calic39 commented on #9
@leMaik I can't get it working when trying @voxbox-io example with custom chip renderer. The autocomplete is showing the results but when I click on the item, chip is not created. Do you have an idea what could be wrong? Thanks!

[2016-11-16 22:10] leMaik commented on #9
@calic39 That might be a bug, I'll check that tomorrow. Maybe your `chipRenderer` is not implemented correctly, though. Could you please provide some code?

[2016-11-17 02:27] sever2715 commented on #40
@leMaik, I found this bug too :confused:

[code]

[2016-11-17 07:07] leMaik commented on #40
I'll fix this later, thanks for the example! :+1:

[2016-11-17 09:21] leMaik commented on #34
@trelly @taxigy I can't reproduce this bug on an iPad with (probably) latest Safari. Does the ugly border appear by default or because you have some CSS rule that _adds_ the border?
I can't fix this without any feedback. :confused:

[2016-11-17 09:48] leMaik commented on #40
Fixed it, will release soon. :tada:

@sever2715 You are _mutating_ the state in `handleRequestAdd` by using `push`, which modifies the array. You should better create a _new_ array that has the new chip added, e.g. with `[...array, item]`. That way, you would work around the bug because calling `handleRequestAdd` wouldn't have any side-effects. :wink:

[2016-11-17 09:51] #40 closed

[2016-11-17 10:04] #34 closed

[2016-11-17 10:18] #37 closed

[2016-11-17 14:13] sever2715 commented on #40
@leMaik thank you for your advice, but I already used another hack(my app is async - therefore it is [necessary](https://facebook.github.io/react/docs/state-and-lifecycle.html#state-updates-may-be-asynchronous) to consider the previous state).
 :relaxed: :space_invader:

[2016-11-17 17:35] zigzackattack commented on #11
This would be a great feature! It's also how [react-select](http://jedwatson.github.io/react-select/) behaves.

[2016-11-17 20:12] calic39 commented on #9
@leMaik Sorry man, you were right, I implemented chipRenderer the wrong way. Thanks for the great work!

[2016-11-17 20:17] leMaik commented on #9
@calic39 Glad that I could help! :blush:

[2016-11-18 12:23] Sharlaan opened #42 "Peer dependencies warnings on updates"
Hello !

just a heads up, not really an "issue" but when im updating my dependencies i'm always getting these warnings with your packages:

npm WARN material-ui-chip-input@0.11.0 requires a peer of react-tap-event-plugin@^1.0.0 but none was installed.
npm WARN material-ui-password-field@1.0.2 requires a peer of material-ui@~0.15.4 but none was installed.
npm WARN material-ui-password-field@1.0.2 r

[2016-11-18 12:56] leMaik commented on #42
Until yesterday evening, react 15.4, react-tap-event-plugin@2 and material-ui were a complete disaster. :bomb: :smile: Meanwhile the issues seem to be fixed, I'll update the peer dependencies soon.

[2016-11-18 15:51] Sharlaan commented on #42
What is the usefulness of the peerDependencies prop in package.json ?
Why not simply put them in dependencies ? this would solve those questionable loud warnings at each minor updates of x dep...

[2016-11-18 16:29] leMaik commented on #42
@Sharlaan Because that would cause even more issues by installing certain versions of the dependencies automatically.
That's what peer dependencies are there for, and the warnings are actually your friends (material-ui-chip-input doesn't work with react@15.4 and r-t-e-p@2 at the moment). :wink:

[2016-11-18 23:04] TeeShastry opened #43 "How can I delete all chips?"
Hi,

I would like to delete all the selected chips. How can I achieve this?

Can you please advise?

Thanks,
Thanuja

[2016-11-19 10:14] leMaik commented on #43
In uncontrolled mode: You can't, because... well... you can't controll the component. ;)
In controlled mode: Clear the array that you use for the `value` prop, see the minimal example below.

[code]

[2016-11-19 10:16] leMaik commented on #22
Closing this after no response for over a month.

[2016-11-19 10:16] #22 closed

[2016-11-21 08:03] arunondeck opened #44 "Displaying value when using an object array for dataSource and dataSourceConfig"
Hi,
I have an array of objects `[{value:'IN',text:'India'},{value:'CA',text:'Canada'}...]` as datasource and my dataSourceConfig is `{text:'text', value: 'value'}`.

The autocomplete dropdown has the value of text inside them (India,Canada etc) but after selection the chips displayed have the value of value key. (IN,CA etc). I am unable to display the text and wasnt able to figure out any option t

[2016-11-27 14:42] umidbekkarimov opened #45 "Handle `onPaste` with line breaks in text"
I had a problem with users pasting data from spreadsheets to chip input and it creates one big chip with all values:

![screen shot 2016-11-27 at 18 31 47](https://cloud.githubusercontent.com/assets/4734297/20649060/d7933aca-b4cf-11e6-9706-427a8c250e5f.png)

First workaround was to `chip.split(' ')`, but it create another problem - when customers wanted to search by values with `' '` inside ("Firs

[2016-11-27 14:49] umidbekkarimov opened #46 "`underlineShow` property is not supported"
Currently it's impossible to hide `TextFieldUnderline ` element

[2016-11-27 14:57] leMaik commented on #45
Nice workaround! I'm not sure if this should be added to the component as it is, though.

There is a prop `newChipKeyCodes` that specifies key codes that "break" chips while typing (only `13` by default). If you could automatically determine the corresponding characters and split by those characters, I'd love to see a PR from you! :+1:

[2016-11-27 15:15] umidbekkarimov commented on #45
@leMaik oh, thanks for fast response  👍

`newChipDelimiter` - will be good ?
or something like `clipboardTextDelimiter` - that would only work with paste?
also current behavior needs some updates cause it will submit value every time when user paste value.

____
So:

* `addOnPaste: bool` - will prevent default `onPaste` behavior and request to add value from clipboard
* `clipboardTextDelimiters: a

[2016-11-27 16:12] leMaik commented on #45
@umidbekkarimov After re-thinking this... That's really a _lot_ of additional complexity for the single use-case of copying stuff from a spreadsheet. :confused: I'd like to add one, or even no new props at all.

As you see, the intended behavior can already be achieved by using `onPaste`, so there is no need for new props.

[2016-11-27 22:28] #46 closed

[2016-11-27 22:35] leMaik commented on #44
I'm afraid I can't reproduce this. The following code works as expected:

[code]

Maybe you are using the component as _controlled_ component and don't add `{ value: '...', text: '...' }` objects to the array of chips but only strings with the key names?

[2016-11-27 23:09] #42 closed

[2016-11-28 06:54] umidbekkarimov commented on #45
@leMaik agree. I can add it as an example to the storybook in case if someone will need similar functionality.

[2016-11-28 07:35] leMaik commented on #45
@umidbekkarimov That would be great! I'll update the story book so that you can see the source code for the examples there.

[2016-11-28 07:38] umidbekkarimov commented on #45
@leMaik thank you 👍 I wish today I will have free time to contribute 😅

[2016-11-28 17:22] jduhls opened #47 "Object doesn't support property or method 'assign' (IE 11)"
I will try to solve with https://babeljs.io/docs/plugins/transform-object-assign/

![screen shot 2016-11-28 at 11 21 15 am](https://cloud.githubusercontent.com/assets/3170699/20678590/e7972dea-b55c-11e6-85bb-8ee759411879.png)

[2016-11-29 11:18] #45 closed

[2016-11-29 16:02] leMaik commented on #47
Whoops, we totally forgot about ugly browsers. :wink: Material-UI also uses `Object.assign`, so I won't try to remove it. I'm glad that you found a solution, might be useful for other people having the same problem.

[2016-11-29 16:02] #47 closed

[2016-11-29 17:42] jduhls commented on #47
Material-UI uses https://www.npmjs.com/package/simple-assign . That said, I abandoned trying to support IE 11. However, I was able to solve the initial problem with https://babeljs.io/docs/plugins/transform-object-assign/

[2016-11-30 22:50] madvas opened #49 "Backspace to remove chip doesn't work with dataSource"
For some reason, when I use ChipInput with dataSource and dataSourceConfig I can no longer use backspace to remove chips. Everything else works fine about a ChipInput. When I remove dataSource and dataSourceConfig, I can use backspace to remove chips.

[2016-12-01 15:59] leMaik commented on #49
I'm afraid I'm unable to reproduce this using the latest version.

Please have a look at the examples in the [storybook](https://teamwertarbyte.github.io/material-ui-chip-input/), e.g. `with auto complete` and `controlled input with auto complete`. The source code of the stories might also help you find the issue.

[2016-12-03 00:32] zigzackattack opened #50 "Filled and blurred floatingLabelText doesn't match opaque TextField labelColor"
When muiTheme's labelColor is changed to an opaque color (with an opacity of anything other than 0.498039), a filled and blurred ChipInput's floating label no longer matches the label of a TextField in the same state. On [Line 39](https://github.com/TeamWertarbyte/material-ui-chip-input/blob/master/src/ChipInput.js#L79), the floatingTextLabel color is faded when the label is filled and unfocused.

[2016-12-03 12:43] leMaik commented on #50
Thank you for the bug report. Looks like Material UI [changed the way the floating label color is calculated](https://github.com/callemall/material-ui/commit/354ceafeb2d4d2c1fca70895d16ec8a94c3e15f6) in v0.16.2. I'll update this component accordingly. :+1:

[2016-12-05 17:55] zigzackattack commented on #50
Awesome! Great component by the way!

[2016-12-06 04:30] Vishal0203 opened #51 "A way to customise style Chip item"
Hi, how do I add a class to the chip item?
I see the documentation talks only about the styles to the root element.

[2016-12-06 13:30] leMaik commented on #51
Hi @Vishal0203, you can style the chips by using a custom `chipRenderer`. Please take a look at [this story](https://github.com/TeamWertarbyte/material-ui-chip-input/blob/1833fb113d74adf7a25c4358bf82615ec7751f83/stories/index.js#L97) to see how it works.

[2016-12-06 16:25] Vishal0203 commented on #51
Okay that works, but I think there is a problem with handleRequestDelete. Upon clicking the cross handle request delete only passes the value of the chip and not the complete chip.

[2016-12-06 17:15] leMaik commented on #51
Uhm... that's the intended behaviour. :open_mouth:

[2016-12-06 17:24] Vishal0203 commented on #51
let me elaborate.

[code]

and my `handleRequestDelete` is as follows

[code]

For backspace, `deleteTag` receives `{name: 'Something', tag_guid: '123-567'}` but on clicking
`x`,  `deleteTag` receives `123-567` (and hence doesn't remove the tag unless I explicitly handle this condition)

[2016-12-06 19:37] leMaik commented on #51
This is indeed a bug, thank you for the report! :-) I'll fix it asap and publish a new release.

[2016-12-06 21:55] leMaik opened #52 "Inconsistent argumentt for onRequestDelete callback"
Originally reported by @Vishal0203 in #51.

[code]

and my `handleRequestDelete` is as follows

[code]

For backspace, `deleteTag` receives `{name: 'Something', tag_guid: '123-567'}` but on clicking
`x`,  `deleteTag` receives `123-567` (and hence doesn't remove the tag unless I explicitly handle this condition)

[2016-12-06 21:55] #51 closed

[2016-12-07 23:59] TeeShastry opened #53 "Displaying selected value"
Hi Chipinput team,

I am trying to display the selected values that comes from database by doing it this way.
[code]

1. It works fine in the sense that it displays the selected text specified in the value and also it does not have that option available anymore in the dropdownlist values which is perfect. But when I choose anything else from the dropdown nothing else is getting selected. Always th

[2016-12-08 01:21] TeeShastry commented on #53
I don't think it is an issue, it is more of how can we achieve the preselected values from a different set of array and still have the dropdownlist values. your advise is much appreciated!

[2016-12-08 21:18] leMaik commented on #53
Hi @TeeShastry,

1. You specified the `value` prop so you're in _controlled_ mode but don't handle adding chips with the `onRequestAdd` prop. You need to add a `onRequestAdd` function or use the _uncontrolled_ mode by specifying the initially selected chips with `defaultValue`. The stories in this repo provide some examples.

2. Just specify some chips as `defaultValue` or put them in the array th

[2016-12-08 21:20] leMaik commented on #53
Whoops, didn't mean to close this.

[2016-12-12 15:26] rhythnic opened #54 "add transform-object-assign babel plugin"
Thanks for this component.  It looks good and is stable.  Would you consider adding the [transform-object-assign babel plugin](https://www.npmjs.com/package/babel-plugin-transform-object-assign)?  I have a requirement to support IE11.  I'll probably update my webpack config to run material-ui-chip-input through babel, but just wanted to mention it to you in case you want to support IE11.

[2016-12-12 15:31] leMaik commented on #54
Absolutely! :+1: This would also fix issues like #47.
@rhythnic Would you like to send a PR?

[2016-12-12 21:27] leMaik commented on #54
Fixed by #55

[2016-12-12 21:27] #54 closed

[2016-12-12 22:52] #52 closed

[2016-12-12 22:56] #50 closed

[2016-12-12 22:57] leMaik commented on #50
Sorry, I was pretty busy this week. Could you please check if the latest version fixes this?

[2016-12-13 18:41] marcacyr opened #56 "Running `npm run storybook` throws errors around react-tap-event-plugin"
[code]

Getting the above errors when trying to run `npm run storybook` -- is there an undocumented step that is missing before being able to run storybook in the repo?

[2016-12-13 18:49] marcacyr opened #57 "Always open auto-complete menu on click"
![qelqfiwcyu](https://cloud.githubusercontent.com/assets/4146617/21153921/6234a4c2-c121-11e6-9b56-95fe5ba572aa.gif)

Description of gif:

Click on the input, menu opens first time. Make a selection. Focus returned to input, chip added successfully, but the menu does not reopen.

The issue I'm running into is that when clicking in the autocomplete box, the menu opens correctly the first time. After

[2016-12-14 21:36] leMaik commented on #56
@marcacyr The storybook works fine for me, using the latest version. Looks like you don't have the latest version of react (or material-ui-chip-input) installed.

I used the following commands:
[code]
[code]

[2016-12-14 21:38] leMaik commented on #57
In your gif, you aren't actually de-focusing the input field (the cursor stays in it). That's why the menu doesn't re-open. I agree that the menu should open on click, though. I'll add that in the next version. :+1:

[2016-12-15 01:04] amit1911 commented on #57
+1

[2016-12-15 02:43] amit1911 opened #58 "Chip not added when Autocomplete open on load"
Hi, The onRequestAdd callback is not fired when I select an item from the autocomplete menu for the first time but it works fine after that. Take a look at the following gif
![bug](https://cloud.githubusercontent.com/assets/3509404/21209862/e6197ed4-c2b1-11e6-8b02-a9e490374fa4.gif)

My chipInput component is as follows
[code]
I noticed that this issue happens only when the  `open` prop is passed t

[2016-12-15 05:54] GlebVST opened #59 "Server side rendering issue"
Hi all,

Faced an issue when using this great component in a "universal" rendering environment.
Version 0.11.2 would assign a unique ID to the input field using a random generator which obviously doesn't produce a consistent ID on both server and client:
[code]
What was the idea of using such artificial string instead of having a standard "id" prop as other material-ui components does (and specifi

[2016-12-15 06:50] leMaik commented on #59
Had a similar issue yesterday; using `id` if specified, like Material-UI's components do, sounds like a good solution. I'll fix that soon.

[2016-12-15 06:53] leMaik commented on #58
Wow, never tested the `open` prop. 😅 Thank you for reporting!

Looks like the new `handleItemTouchTap` function is assigned too late... I'll look into this later.

[2016-12-15 07:10] #43 closed

[2016-12-15 07:10] #20 closed

[2016-12-15 07:11] leMaik commented on #44
@arunondeck Is this still an issue or did you fix this in your application?

[2016-12-15 07:11] #49 closed

[2016-12-15 09:27] amit1911 opened #60 "Add option to display chips under autocompletebox"
I think it'll be useful if we can an option to display the chips under the input box instead of at the top as in cases when there are a lot of chips, the input keeps shifting down. it'll be nice to have the input stay at the top and the chips displayed under it. Take a look at the following pic.
![long list](https://cloud.githubusercontent.com/assets/3509404/21218405/714d870a-c2eb-11e6-9be2-c8f612

[2016-12-15 10:09] leMaik commented on #60
Good idea, PR welcome! :+1:

[2016-12-15 10:16] amit1911 commented on #60
I'll try to work on it during this weekend

[2016-12-15 18:09] zigzackattack commented on #50
Yep fix looks great! Thanks!

[2016-12-15 18:11] marcacyr commented on #56
Thanks you @leMaik! I think I had an old clone hanging around from awhile back, and something was off in my local copy. Deleted the repo, re-cloned from GH and ran install and run storybook and everything is working as expected.

[2016-12-15 18:11] marcacyr commented on #57
Ah, okay so @leMaik if I force a de-focus and re-focus on the input then it should work as expected. I can handle that on my end. Thanks for the guidance! Will comment back once I get it working.

[2016-12-15 18:28] #56 closed

[2016-12-16 01:13] amit1911 commented on #57
@marcacyr @leMaik i think it's a useful feature to have so it is better if we can implement this in the library itself rather than each of us handling it individually.

[2016-12-16 03:07] amit1911 opened #61 "Input not cleared on blur if auto completion is enabled"
Currently the input is only cleared on blur when the autocomplete menu doesn't exist (given that `clearOnBlur` is true). I think it would be good to have an option wherein the input is always cleared on blur as otherwise the user needs to manually clear it. We just need to change the `handleInputBlur` function. The current version is as follows:-
[code]
The first line above checks if the autocompl

[2016-12-16 06:58] ajdalshov opened #62 "Webpack throws error after babel-plugin-transform-object-assign was added"
ERROR in ./~/material-ui-chip-input/lib/ChipInput.js
Module build failed: ReferenceError: Unknown plugin "transform-object-assign"

[2016-12-16 08:36] leMaik commented on #62
I can't reproduce this bug. Could you please explain to me when this occurs or perhaps even add a minimal example? Thanks in advance!

[2016-12-16 08:49] leMaik commented on #57
I agree with @amit1911; this should be fixed. :+1:

[2016-12-16 08:56] leMaik commented on #61
@amit1911 Thank you very much for the detailed report! I think that `clearOnBlur` should _always_ clear on blur, so no need for a `alwaysClearOnBlur` prop. :wink:
There were some issues when clearing the input if `autoComplete` is enabled, though. I'll look into this on the week end. Or would you like to further investigate this issue? I'd really appreciate a PR. :blush:

[2016-12-16 09:03] amit1911 commented on #61
i disabled the `if (!this.autoComplete || !this.autoComplete.refs.menu) {` on my local and tested and everything worked fine for me. It was clearing the input on blur for autocomplete. But this might need  detailed investigation if you noticed some issues earlier. i can create a PR by just removing the `if` condition if you want. Not sure if there is anything else to be done here.

[2016-12-16 09:09] leMaik commented on #61
@amit1911 Could you please check if
* auto completion still works when using only the mouse
* auto completion still works when using the arrow keys and pressing enter

We need tests for that. :disappointed:

[2016-12-16 09:37] amit1911 commented on #61
okay will verify this

[2016-12-16 23:29] quangbuule opened #63 "Options to trigger onRequestAdd when losing focus"
Currently the `clearOnBlur` is fine, but in some cases, adding current input text to value list when losing focus is better UX. What do you say?

[2016-12-17 10:47] leMaik commented on #63
Indeed, there might be use cases where adding the  current input text would be better. E.g. when the user just wants to "tab through the form" and doesn't realize that the field is not a normal text field.

How do you think should this be implemented? We could add a new `addOnBlur` prop, but I think replacing the `clearOnBlur` prop with `blurBehavior = {'clear', 'add', null}` would be a simpler an

[2016-12-17 10:49] #33 closed

[2016-12-17 11:02] quangbuule commented on #63
My best practice is always pass event to the handler (usually first arguments). I means in the ChipInput component, the `onRequestAdd` should be call like this:
[code]

Then the usage could be like this:
[code]

Reference:
https://developer.mozilla.org/en-US/docs/Web/API/Event/type

[2016-12-17 11:08] quangbuule commented on #63
For backward compatible, we could implement follow this interface:
```onRequestAdd(value: any, type: string)```

[2016-12-17 11:17] leMaik commented on #63
Hm... And then you'd just keep `clearOnBlur`?

[2016-12-17 11:19] leMaik commented on #63
@quangbuule That won't work in uncontrolled mode, though. There is no `onRequestAdd` in uncontrolled mode, so there would be no way to control if a chip should be added on blur.

[2016-12-17 11:29] quangbuule commented on #63
True, what do you think about always add value when blur, there would be no `clearOnBlur`. Could you please explain why we do `clearOnBlur`?

[2016-12-17 11:31] leMaik commented on #63
Usually, you _want_ to clear on blur to make clear that the value was not added. Sometimes (e.g. your use-case) you want to add the input value on blur. That are two different, but valid use cases and I don't want to remove one of them to support the other.

[2016-12-17 11:41] quangbuule commented on #63
`blurBehavior` is fine for that.

Personally, I prefer always add on blur is better (then clear on blur is optional), People usually afraid to press Enter (the form may submit), and may not understand that Enter (or comma...) is a delimiter, they just enter a value (or select some values and the last value they left the last input) then focus on another field.

People may delete the last value wit

[2016-12-17 11:42] quangbuule commented on #63
Just have a check on other tags input plugins (legacy), they work as I said:

https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/examples/
http://xoxco.com/projects/code/tagsinput/example.html

[2016-12-17 11:51] leMaik commented on #63
You prefer that. I also prefer that. But there are people (and users) who don't. :wink:

Sure, but good UX is about not frustrating the user and saying that they can just undo something that went wrong. We should let the users of this library decide what they (or their customers) want, so I think that `blurBehavior` is the way to go.

[2016-12-17 11:56] quangbuule commented on #63
Great, go for it!

[2016-12-18 13:00] amit1911 commented on #61
Created the pull request #64 that fixes this issue and also verified the two things mentioned above by @leMaik

[2016-12-18 13:24] leMaik commented on #61
Awesome, thank you very much! :+1:

[2016-12-18 13:24] #61 closed

[2016-12-18 13:25] amit1911 commented on #60
Started working on this but turns out it requires more work than I thought. Just moving the chip rendering under the 'error text' display does't work as the styling get's messed up. Some of the issues that I noticed are:-

- The chips overlap with the 'error text' display.
- There is extra space under the floating label that was initially intended for chips.
- Moreover, changing the chips element

[2016-12-18 13:31] leMaik commented on #60
@amit1911 Thank you for trying, though! Material-UI currently gets a full rewrite, so maybe we should wait for them to finish before trying to implement this. The chip input needs to be re-written anyway because of all the breaking changes in the rewrite. :confused:

[2016-12-18 13:40] #59 closed

[2016-12-21 19:17] #58 closed

[2016-12-25 22:30] #57 closed

[2016-12-27 07:11] GlebVST commented on #60
Hey guys, not all internal divs are supported with `style` props so right now you can't do everything you could do with CSS...
If you don't mind some SCSS, here is what I have for my chips-under:
[code]
And
[code]
<img width="344" alt="2016-12-27 02 04 18 pm" src="https://cloud.githubusercontent.com/assets/22114613/21493319/7a10b7a8-cc3d-11e6-8dfa-35f197bab23a.png">

If you don't want to support C

[2016-12-28 10:28] dacgray opened #65 "When using auto complete, the moment you press the down arrow searchText returns to """
This is really annoying if you want to filter out from a lot of items in dataSource.

[2016-12-28 22:54] leMaik commented on #65
Indeed, this might have been introduced by the last update. We'll fix that soon.

[2016-12-29 23:16] marcacyr commented on #57
Thank you @leMaik for doing this! When is this going to be released (if there is an ETA?)

[2016-12-30 00:15] leMaik commented on #57
@marcacyr Either today or next week. I'd like to fix #65 before publishing the next release.

[2016-12-30 10:36] #65 closed

[2016-12-30 10:41] leMaik commented on #57
@marcacyr Publishing v0.11.4 right now! :tada:

[2017-01-01 12:42] arunondeck commented on #44
@leMaik Hi, sorry about not replying sooner. It is not an issue. I was using chipRenderer and had messed up some variable inside that.

[2017-01-01 12:42] #44 closed

[2017-01-08 15:10] umidbekkarimov opened #68 "Invalid positioning of Popover element with `openOnFocus=true`"
![jan-08-2017 19-04-47](https://cloud.githubusercontent.com/assets/4734297/21750811/64fb4666-d5d5-11e6-9c1d-e167f14ec2c1.gif)

Material UI AutoComplete removes `anchorEl` on [close](https://github.com/callemall/material-ui/blob/master/src/AutoComplete/AutoComplete.js#L241)
So when ChipInput calls [focus](https://github.com/TeamWertarbyte/material-ui-chip-input/blob/master/src/ChipInput.js#L192) `a

[2017-01-08 15:15] umidbekkarimov commented on #68
Found it, after upgrading deps to

[code]

![jan-08-2017 19-14-53](https://cloud.githubusercontent.com/assets/4734297/21750866/cf76a340-d5d6-11e6-8cd5-47afa12240bc.gif)

[2017-01-08 18:24] #68 closed

[2017-01-08 18:24] leMaik commented on #68
Thank you for investigating this and providing the fix! I'll publish an update right now.

[2017-01-19 14:44] leMaik commented on #53
@TeeShastry I'm closing this issue since it's been over a month without a response. Feel free to ping me if you have further questions. :+1:

[2017-01-19 14:44] #53 closed

[2017-01-19 14:45] leMaik commented on #62
Closing this after a month without any response. :disappointed:

[2017-01-19 14:45] #62 closed

[2017-01-19 18:44] MarkMurphy opened #71 "Cannot read property 'state' of null"
Hello again :)

Came across this error after installing this today:

[code]

This seems to be the offending line (in the `handleInputBlur` handler):

[code]

Steps to reproduce:

[code]

Click on the input to give it focus. Press the down arrow key.

[2017-01-19 18:47] leMaik commented on #71
This is strange... `this.autoComplete` is set when the component is mounted, and it seems to work fine in the [storybook](https://teamwertarbyte.github.io/material-ui-chip-input/?selectedKind=ChipInput&selectedStory=with%20auto%20complete&full=0&down=1&left=1&panelRight=0&downPanel=kadirahq%2Fstorybook-addon-actions%2Factions-panel). I'll try to reproduce this again later. :+1:

[2017-01-19 18:49] MarkMurphy commented on #71
Maybe `this` is bound to something other than the component instance.

[2017-01-19 18:50] leMaik commented on #71
But `this` is always bound to the component inside the `render` function, unless you are calling it from the outside in a strange way.

[2017-01-19 18:57] MarkMurphy commented on #71
Yeah, weird. I'm using react@15.4.2 in case that makes a difference.

[2017-01-19 19:01] MarkMurphy commented on #71
I've made a local copy on ChipInput, investigating further...

[2017-01-19 19:11] MarkMurphy commented on #71
I'm not yet sure how but when it happens `this` is referring to the AutoComplete not the ChipInput.

[2017-01-19 19:13] leMaik commented on #71
@MarkMurphy Whaaat? :open_mouth: It's an arrow function, so `this` should be the `ChipInput`.

[2017-01-19 19:15] MarkMurphy commented on #71
Yeah I know 😕

[2017-01-19 19:34] MarkMurphy commented on #71
ok so I managed to get it working but can't explain why it was an issue at the moment. I changed the the AutoCompete ref property to a string and then added an accessor to the ChipInput:

[code]

[2017-01-19 19:35] leMaik commented on #71
Using strings as `ref` is deprecated. :confused:

[2017-01-19 19:37] MarkMurphy commented on #71
Oh really? I didn't know that, can you point me to some docs?

[2017-01-19 19:37] leMaik commented on #71
@MarkMurphy Yep, see my edit.

[2017-01-19 19:40] MarkMurphy commented on #71
Thanks, back to the drawing board I guess.

[2017-01-19 19:56] MarkMurphy commented on #71
I'm stumped. It's calling the `handleInputBlur` method with the autocomplete node as the backing context. I don't understand how that's possible...

[2017-01-19 19:58] leMaik commented on #71
@MarkMurphy I have no idea what's going on right now, either.

[2017-01-19 20:09] MarkMurphy commented on #71
ok, dev console is being weird. It was what was reporting `this` as being the autocomplete node while paused in the debugger. However when I hover over the the `this` keyword in the inspector is shows it as being the ChipInput but the autoComplete property IS null.

![screenshot 2017-01-19 16 08 34](https://cloud.githubusercontent.com/assets/873474/22123324/9d3902ae-de61-11e6-9715-4c043eea4336.png

[2017-01-19 20:18] leMaik commented on #71
A cheap "fix" would be to just check for `null` in the event handler. I don't get why it is called before the component is mounted.

[2017-01-19 20:23] MarkMurphy commented on #71
I believe I've found the problem. I think it has something to do with this:

[Caveats - Refs and the DOM - React](https://facebook.github.io/react/docs/refs-and-the-dom.html#caveats)

![screenshot 2017-01-19 16 19 43](https://cloud.githubusercontent.com/assets/873474/22123727/1f20ceea-de63-11e6-8a4f-98311b4f3250.png)

The problem goes away when I use a bound method on the class as suggested:

[cod

[2017-01-19 20:32] MarkMurphy commented on #71
I'll do up a pull request

[2017-01-19 20:34] leMaik commented on #71
Great!

[2017-01-20 07:58] #71 closed

[2017-01-20 10:18] #63 closed

[2017-01-20 10:29] leMaik commented on #63
Thanks to @jamieparkinson, we now have [a story that shows how to add chips on blur](https://teamwertarbyte.github.io/material-ui-chip-input/?selectedKind=ChipInput&selectedStory=add%20text%20input%20value%20on%20blur&full=0&down=1&left=1&panelRight=0&downPanel=kadirahq%2Fstorybook-addon-actions%2Factions-panel).

[2017-01-20 20:52] MrLoh commented on #2
@leMaik I'm trying to use the chip input inside formsy, but can't quite get it to work. Could you provide an example how to use it?

[2017-01-20 21:02] leMaik commented on #2
@MrLoh I already provided an example, [right in this issue](https://github.com/TeamWertarbyte/material-ui-chip-input/issues/2#issuecomment-247402164). :wink:
Feel free to open a new issue and provide some more details, I'd be happy to help you!

[2017-01-27 16:23] cauld opened #73 "openOnFocus breaks blur"
When setting openOnFocus to true the original collapsed state of the input is not reset when focus is lost. The label remains floated and the input is still underlined.

[This setState block](https://github.com/TeamWertarbyte/material-ui-chip-input/blob/master/src/ChipInput.js#L225) is never hit to set isFocused back to false.

You can see this in [the open on focus storybook example](https://team

[2017-01-27 23:08] leMaik commented on #73
Thank you for the bug report and locating the issue. :+1: Would you like to submit a PR that fixes it?

[2017-01-29 02:30] cauld commented on #73
I played around with this for a while. It is a minor timing issue. There might be a better way to handle this, but so far this is the simplest solution I've come up.

[2017-01-29 11:26] leMaik commented on #73
Well, it's kind of an ugly hack, but that's the trade-off when you try to re-use components that aren't really made for making new components. :confused: Hopefully, this will improve when the next branch of Material-UI is ready and the chip input can be ported to use it.

Thank you for the fix! :+1:

[2017-01-29 11:26] #73 closed

[2017-01-30 15:30] cauld commented on #73
Agreed, no problem. Will you be doing a new release soon that includes this fix? Would like to switch back to the official npm package.

[2017-01-30 16:14] leMaik commented on #73
@cauld Thanks for the hint, I just released v0.12.2 which includes the fix. :+1:

[2017-02-02 17:06] MrPolymath opened #75 "inputStyle prop not modifying input color."
I'm basically adding the following prop `inputStyle={{'color':'rgba(255,255,255,1)'}}` but the input color is still black. How can I modify it?

[2017-02-02 20:53] leMaik commented on #75
Maybe you want to modify the `textFieldStyle` prop instead of the `inputStyle` prop? It should be propagated to the input element, though, so it's strange that it doesn't have any effect.

[2017-02-02 21:44] MrPolymath commented on #75
I've just tried both, `inputStyle ` and `textFieldStyle` and none of them propagates the color.

The amazing part is that when I do: `textFieldStyle={{color:'rgb(255,255,255)', fontSize:'30px'}}`, the font size is changed to 30px but the color stays black.

[2017-02-02 21:58] leMaik commented on #75
Seems to be a Material-UI issue that I can't fix then. :disappointed: Maybe the label color isn't meant to be changed (except if you use themes, you can change the label color with [themes](http://www.material-ui.com/#/customization/themes)).

[2017-02-06 19:33] barca opened #76 "keeping the chip input on one line"
in the following demo, you can see the current, default behavior when the chip width exceeds a certain amount.
![image](https://cloud.githubusercontent.com/assets/2922245/22663021/1178eace-ec79-11e6-8322-050a165dcdaf.png)

I was wondering if it is possible to keep the chips in a single line, and allow side scrolling, keeping the height of the chip-input static.

Thanks

[2017-02-06 22:46] Shaxmatist opened #77 "Highlight broken with object values"
When chips is array of strings blue highlights works normaly. When chips is array of objects first "Backspace" doesn't highlight chips. This can be seen at the storybook.

[2017-02-07 13:59] pnagy opened #78 "Chip input brakes the behaviour of native link elements"
To reproduce this thing make the followings:
1. Put a html link element to the page (eg. `<a href="google.com">Google</a>` )
2. Put a chip input to the page
3. Write some text into the input. Don't add the new chip just leave the currently edited text in the field.
4. Click to the link

I would expect my browser to go to the URL specified in the href but instead of this nothing happens. If I click

[2017-02-07 14:13] pnagy opened #79 "Feature request: Validation before new chip added"
It would be nice to give a callback to the input which would make it able to validate the newly added chips. When the callback has returned a string that would mean the newly added chip is not valid we can't add it to the list, we don't call the `onChange` and display the returned string as an `errorText`.

[2017-02-07 20:33] Shaxmatist opened #81 "Uncaught TypeError: chip.trim is not a function"
Error **Uncaught TypeError: chip.trim is not a function** if dataSource like from [example](http://www.material-ui.com/#/components/auto-complete):
[code]

[2017-02-07 20:44] leMaik commented on #81
The chip value is not meant to be an element. :open_mouth: It should be a string or an object, as shown in the examples.

[2017-02-07 20:50] leMaik commented on #79
Thank you for the feature request! This behavior can already be achieved by using the component in _controlled mode_. You get a `onRequestAdd` callback and then you can decide if you update the value in the state. Please take a look at the [controlled story](https://github.com/TeamWertarbyte/material-ui-chip-input/blob/master/stories/ControlledChipInput.js).

I'll mark this as _won't fix_, as I do

[2017-02-07 21:02] leMaik commented on #78
Uhm... I have no idea why this is the case, nor do I have a solution at this time. :sweat_smile:

Thanks for the report anyway, I'll take a closer look next week. Please let me know if you find a solution for this in the meantime!

[2017-02-07 21:03] leMaik commented on #77
Thank you for the bug report, I'll fix this asap.

[2017-02-07 21:05] leMaik commented on #76
Great idea, @barca, but I'm wondering if scrolling sideways is good for usability.  :thinking:
You might be able to get this behavior by adding `overflowX: 'auto'` to the style, but it will look and feel strange on desktop.

[2017-02-08 07:31] Shaxmatist commented on #81
Thanks. I was looking for a way to customize popover(menu) items. Maybe you can suggest it? And way to keep focus on first item, when input updates.

[2017-02-09 02:49] arunondeck opened #85 "Autocomplete dropdown does not scroll up"
Hi,

I encountered a weird issue. If I set a height on the autocomplete menu and start typing in the textfield, when the menu drops down, you can scroll down inside it, but it does not scroll up, unless you use the scroller on the element.

To reproduce:

[code]

[2017-02-09 03:17] arunondeck commented on #85
Hi,

I'm sorry. It seems this is an issue with material-ui/AutoComplete in version 16.6 and 16. In case anyone else encounters the issue, [here](https://github.com/callemall/material-ui/issues/5847#issuecomment-269862002) is the fix.

[2017-02-09 03:17] #85 closed

[2017-02-13 16:16] leMaik commented on #81
Sorry for the late response, @Shaxmatist, it's been a pretty busy week.

At the moment, there is no way of customizing the popover menu items, but you could probably add `popoverMenuStyle` and `popoverMenuItemStyle` props that allow customizing this. Feel free to submit a PR that does this. :+1:
Keeping the focus on the first item: It's not supported and I don't really see why this should be suppo

[2017-02-13 16:17] leMaik commented on #77
Edit: Sorry, didn't get to fix this last week. :sweat: I'll fix it this week.

[2017-02-13 20:57] leMaik opened #88 "Port to material-ui@next"
Material-UI currently gets a full rewrite that is in alpha state. This might be the best time to start porting this component.

Unfortunately, there is no AutoComplete yet, but manually implement it may make the code less hacky, which is nice. :relaxed:

There is no ETA, I'll start working on this on the _next_ branch. Feel free to submit PRs to speed up the process. :wink:

[2017-02-13 23:26] #77 closed

[2017-02-13 23:36] leMaik commented on #78
It turns out that this bug is even present in Material-UI's AutoComplete component, so I can't fix it. I'll see if this bug vanishes when I port this to material-ui@1.0.0 soon (see #88).

[2017-02-14 05:31] pnagy commented on #78
Cool, thank you for checking it.

[2017-02-27 08:00] amit1911 opened #90 "Error when passing integer values"
I am getting the error 'Invalid prop value supplied' when I pass a list of integer values such as [1, 2, 3]. I think this is because of the following proptypes description:-
[code]
Is there a reason why only strings and objects are allowed?

[2017-02-27 10:37] leMaik commented on #90
Reason: Me only using strings, then refactoring the component to be a stand-alone component and then adding object values.

So thanks for the request, I'll fix the `propTypes`. You can just ignore the warnung, though. :wink:

[2017-02-27 10:40] leMaik commented on #81
@Shaxmatist Closing this after two weeks without any response. Feel free to re-open this if you have further questions. :+1:

[2017-02-27 10:40] #81 closed

[2017-02-27 10:41] #79 closed

[2017-02-27 10:42] #75 closed

[2017-03-02 22:15] muxica opened #91 "How can I override the 14px margin added to the input with floating label text?"
[On line 463 of this file, you are running an override to set a margin top](https://github.com/TeamWertarbyte/material-ui-chip-input/blob/779dd9652c9d86d5de6a553ef4fb811ca4c53d47/src/ChipInput.js)
[code]
I am trying to figure out how to override this as in a particular use case, it results in too much margin for the space the input exists in.

[2017-03-03 09:44] leMaik commented on #91
There is no way to override this at the moment, which is bad. I'll change the order of `overrideRootStyles` and `style` so that custom styles are preferred.

[2017-03-03 15:05] techniq opened #92 "Ability limit the number you can select"
Is it possible currently (or can be added) to limit the number that can be multiselected (to say 3)?

[2017-03-03 15:11] techniq opened #93 "Support for option groups"
I know the underlying <AutoComplete /> does not have this feature, but I didn't know if you had it on your TODO to add support for option groups (`<optgroup>`), similar to [material-ui-superselectfield](https://sharlaan.github.io/material-ui-superselectfield/#/example4) or [react-select-plus](http://github.hubspot.com/react-select-plus/)?

[2017-03-03 15:13] muxica commented on #91
Thank you!

[2017-03-04 16:09] leMaik commented on #92
This is possible in controlled mode, you can simply not add chips in the `onRequestAdd` handler.

[2017-03-04 16:19] techniq commented on #92
Would this allow the user to still autocomplete/search for another option, but it would then silently ignore it on add?  I was hoping to keep the user from even searching once the limit was hit.

[2017-03-05 11:52] leMaik commented on #92
You could set `dataSource` to an empty array when the chip limit is reached.

[2017-03-07 15:58] techniq commented on #81
I ran into this error today while trying to port from `<AutoComplete />` to `<ChipInput />` and found it was due to AutoComplete defaulting [dataSourceConfig](http://www.material-ui.com/#/components/auto-complete) to `{ text: 'text', value: 'value' }` but ChipInput expects the dataSource to be an array of strings by default?

Maybe worth adding an additional check [here](https://github.com/TeamWer

[2017-03-07 16:02] leMaik commented on #81
@techniq I'd prefer not to introduce the breaking change of adding a default value for `dataSourceConfig` to `ChipInput`. The readme already makes it pretty clear how `dataSourceConfig` works:

[2017-03-07 16:10] techniq opened #94 "Material-UI 0.17 support"
Currently the peerDependency is set to [>= 0.15.0 <= 0.16.x](https://github.com/TeamWertarbyte/material-ui-chip-input/blob/master/package.json#L44).  Any reason this couldn't be changed to `>= 0.15.0 <= 0.17.x`?

Also React is set to `^15.3.2`.  Could it be relaxed to say (^15.0.0)?

[2017-03-07 16:15] leMaik commented on #94
No, we just forgot to bump it when they released 0.17.0 :wink:

No. Material-UI [requires ^15.4.0](https://github.com/callemall/material-ui/blob/master/package.json#L44) and so do we. Not doing so would require us to put a lot of effort into keeping backward-compatible with old React and Material-UI versions, which is, at this point, unfeasible.

[2017-03-07 16:18] saschb2b commented on #94
See #89 for a pull request regarding this

[2017-03-07 16:18] leMaik commented on #93
Sounds like a good idea to me, I'd welcome a PR that adds this. :+1:

[2017-03-07 16:19] leMaik commented on #94
@saschb2b Whoops. :sweat_smile:

[2017-03-07 16:20] #94 closed

[2017-03-07 16:20] techniq commented on #81
I overlooked the dataSourceConfig initially and somewhat expected it to be the same knowing it was using AutoComplete under the hood.  Not a big deal, but the error I ran into (`chip.trim is not a function`) I at first attributed it to me using Material-UI 0.17 and thought there was a compat. problem without looking at the docs closely.  I later realized when I looked at the underlying storybook c

[2017-03-07 16:24] leMaik commented on #81
I'll keep it as it is then, for now. Material-UI 1.x doesn't have a `AutoComplete` component yet, so maybe we'll have to re-write it anyway and then it will ultimately be an implementation detail.

I don't want to add any code just to make the component work if its configuration is wrong.

[2017-03-07 16:30] leMaik commented on #94
Just released v0.13.1, which adds support for Material-UI 0.17.x

[2017-03-07 18:06] techniq commented on #94
@leMaik @saschb2b thanks :smile:

[2017-03-09 13:41] saitonakamura commented on #11
maybe we could do something with Autocomplete `open` prop as a workaround?
something like use `setState` to keep it and change it by subscribing to `onBlur` and other events?

[2017-03-11 11:13] umidbekkarimov commented on #88
Yay! Would you make it composable?

e.g:
[code]

[2017-03-12 11:47] leMaik commented on #88
@umidbekkarimov Looks good to me. :+1: But I'd also like to have a second component with a slightly simpler usage (e.g. just specify string values). Pretty much like how material-ui@next allows you to either compose your own TextField or use their ready-to-use one.

[2017-03-16 22:19] iMerica opened #95 "Warning: Unknown prop `onTouchTap` on <div> tag."
Hi,

I'm able to add new chips, but deleting chips is not working following the README example. I'm not sure if this is because of the props warning `Warning: Unknown prop onTouchTap on <div> tag` or if that is a red-herring.

Here's what the code looks like:

[code]

[2017-03-16 22:30] iMerica commented on #95
This was an issue upstream with `react-tap-event-plugin` and material-ui. Fixed it locally by upgrading to `"react-tap-event-plugin": "^2.0.1",`

https://github.com/zilverline/react-tap-event-plugin/issues/85

[2017-03-16 22:30] #95 closed

[2017-03-30 19:52] duanefields opened #96 "increase width of autocomplete menu"
Some of my items are wider than the menu. I could use fullWidthInput, but it's way more than I need and it creates an empty line - is there a way to control the width of the menu?

[2017-03-31 07:51] leMaik commented on #96
All props we don't handle are passed down to `AutoComplete`. This way, you could try to specify a `menuStyle` prop as documented [here](http://www.material-ui.com/#/components/auto-complete) and try to set a custom width.

[2017-03-31 14:25] duanefields commented on #96
That worked, though you have to also set the listStyle to increase the width of the options list

[code]

[2017-03-31 14:25] #96 closed

[2017-03-31 14:42] leMaik commented on #96
@duanefields Good to know!

[2017-04-05 10:09] advance512 opened #97 "Anyways to use this with Google Places autocomplete?"
That is, type place, and when places are selected they are added as chips.

Like here:
https://github.com/kenny-hibino/react-places-autocomplete

[2017-04-05 13:14] leMaik commented on #97
This should be possible. You need to fetch the places asynchronously in the `onUpdateInput` handler and then set the `dataSource` once the request is done. Keep in mind that this may result in race conditions, so prevent those e.g. by using a request number and only handling the response of the _last_ request.

Let us know when you have a demo, we might add a link to it. :wink:

[2017-04-09 20:26] techniq opened #98 "material-ui 0.17.2 compatibility issue"
I just upgraded to material-ui 0.17.2 and all my material-ui-chip-input's autocomplete menu's no longer close.  I downgraded to 0.17.1 and the problem went away.  I tried to create a simple test on codepen and webpackbin but struggled (material-ui doesn't provide a umd build so using unpkg seemed to not work for codepen and webpackbin was giving me random errors).

I've been having some performanc

[2017-04-09 20:32] leMaik commented on #98
I'll look into the 0.17.2 issues. Regarding the performance issues, I can just tell that indeed, there is more re-rendering than optimal, due to us "abusing" the `AutoComplete` component and calling `forceUpdate` on it. This will (hopefully) improve when we port this component to Material UI 1.0.0.

[2017-04-09 21:06] leMaik commented on #98
This is caused by https://github.com/callemall/material-ui/issues/6560. Looks like we have to wait for material-ui 0.17.3… :cry:

[2017-04-09 22:30] techniq commented on #98
No problem. Thanks for the quick responses.

On Sun, Apr 9, 2017, 5:06 PM Maik Marschner <notifications@github.com>
wrote:

[2017-04-10 23:37] goosejoinedindustry opened #99 "Textbox Position"
Right now the default position of the text box is beside or below the chip.  Is there anyway to move the text box above the chips?

[2017-04-11 10:18] leMaik commented on #99
Unfortunately there is no way to achieve this, yet. See #60

[2017-04-11 10:18] #99 closed

[2017-04-12 11:31] leMaik commented on #98
Material-UI 0.17.3 was [released](https://github.com/callemall/material-ui/releases/tag/v0.17.3) and fixes this issue.

[2017-04-12 11:31] #98 closed

[2017-04-12 13:44] techniq commented on #98
👍

[2017-04-17 14:51] KostovVN opened #101 "Use the prop-types package from npm instead."
warning.js:36 Warning:Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.

https://github.com/TeamWertarbyte/material-ui-chip-input/blob/master/src/ChipInput.js#L112

[2017-04-17 14:56] leMaik commented on #101
This was already fixed, see #100. Please update to v0.13.2.

[2017-04-17 14:59] leMaik commented on #101
Sorry, you are absolutely right! I'll fix this asap.

[2017-04-17 15:00] KostovVN commented on #101
Thank!

[2017-04-17 15:02] #101 closed

[2017-04-21 01:49] keithamoss opened #103 "Chip input as part of a formula editor"
(Firstly, thanks for putting together a great project!)

We're looking at using material-ui-chip-input as part of an inline formula editor, but from what we can see of the documentation there's a few extra features we'd need to add support for. Before we embark on that exercise we wanted to check if you either had any plans for these features, and that you weren't philosophically opposed to adding

[2017-04-21 06:36] leMaik commented on #103
Hi, @keithamoss!
That sounds like a very great component you are going to code there. :+1: I believe that this is far out of scope, though. This project aims to solve exactly one problem, i.e. provide a chip input control for Material-UI. Your component has a lot of additional requirements, especially optical changes, so I think it would be better to bake all that in a new component. :wink:
There

[2017-04-24 11:55] keithamoss commented on #103
No problems, @leMaik! Once I'd finished typing all of that I'd sat back and kinda reached the same conclusion myself. Will ping you when we have something working - very likely based on your good works here :)

[2017-04-24 11:55] #103 closed

[2017-04-24 15:11] CyrilQuandalle opened #104 "How can we reset the component internal state ?"
Hi,

I'm working on an app  with multiple internal tabs, I've managed to have a state for each tab with a higherOrder reducer. With your component keeping its internal state accross tabs I have some random behaviour, is it possible to reset it ?

thanks in advance

Cyril

[2017-04-24 21:10] leMaik commented on #104
Which state does the component keep? It shouldn't keep any state when it is used in controlled mode (i.e. when using `value` and `onChange`).

[2017-04-25 09:59] CyrilQuandalle commented on #104
Hi,

Sorry it was actually a bug on my side I was mutating the initialState at some point
And indeed it woud be an ugly workaround ;-).

[2017-04-25 09:59] #104 closed

[2017-04-25 11:00] hoppula opened #105 "Not working on IE11"
Hi and thanks for the great project.

Our app unfortunately has to support IE11 and I noticed that you're using `Array.prototype.find()` on https://github.com/TeamWertarbyte/material-ui-chip-input/blob/master/src/ChipInput.js#L310

`Array.prototype.find()` is supported only on IE Edge, so I was wondering if you could use some other Array method or possibly even https://github.com/lxe/babel-plugin-

[2017-04-25 11:10] leMaik commented on #105
I just replaced `.find` with `.some`, which does the same thing in that line.
Could you please try the latest commit and tell me if it works on IE11?

[2017-04-25 11:49] hoppula commented on #105
Thanks for the super fast response, just tested latest master using local build and it's working fine now 👍

[2017-04-25 12:00] leMaik commented on #105
Great! I'm releasing a new patch version that resolves this issue right now. :+1:

[2017-04-25 12:00] #105 closed

[2017-04-25 12:40] hoppula commented on #105
Thank you! 👏

[2017-04-27 13:17] aantipov opened #106 "Avoid focusing the input on chip click"
Hi
Every time I click on a chip the input gains focus and the menu is opened (because of `openOnFocus={true}`).
Is it possible to avoid focusing the input when clicking a chip?

UPD: I'm using `chipRenderer` option

[2017-04-27 14:17] aantipov commented on #106
Never mind, I solved the issue by adding `onTouchTap={(e) => e.stopPropagation()}` to the chip renderer

[2017-04-27 14:18] #106 closed

[2017-04-28 14:28] pvjones commented on #21
Thanks so much for posting this! You saved my life!

[2017-05-01 16:14] pvjones opened #107 "Allow displaying the hintText when chips are already added"
Hi, I've incorporated material-ui-chip-input with redux-form and it's working beautifully. However, I have a hintText prop that's successfully getting passed to the chip input, but the text will not render. I'm not sure how to troubleshoot the issue. Any help would be greatly appreciated.

[2017-05-01 18:23] leMaik commented on #107
I'm afraid I can't reproduce this, neither with material-ui 0.17.4 nor with 0.18.0. :confused:

[2017-05-01 23:17] pvjones commented on #107
Ok I'm a n00b--sorry for the false alarm. This was based on a simple misunderstanding of hintText functionality on my part. It's working as intended. I was assuming/hoping that hintText would show even if the chip-input was pre-populated with values from the store.

Do you know if there would be any way to force display of hintText even if there are chips present?

[2017-05-02 06:48] leMaik commented on #107
Displaying the hint text even if there are chips when the text field for entering a new chip is empty is not possible yet, but I think it's a good idea! :+1:
I'll add that as soon as I can...

[2017-05-03 23:25] dalefrancis88 opened #109 "Changing datasource"
Hey,

We have a scenario where there could be around 1500 different chips. These chips have a name and description. I have two questions...

Is it possible to change the look of the autocomplete to render a more detailed react element so that i can show both title and description?

Is it possible to pass off the search function to my back-end system instead of having this do it? as in, can i tie i

[2017-05-04 15:31] rsolomon opened #110 "Console warning when using with material-ui@0.18.0"
`npm WARN material-ui-chip-input@0.13.5 requires a peer of material-ui@>= 0.15.0 <= 0.17.x but none was installed.`

The only breaking change in 0.18.0 is one with tables, which should not affect this lib.

[2017-05-04 20:03] leMaik commented on #110
I just updated the material-ui peer dependency to `< 1.0.0`. If anything breaks with 0.x.x releases in the future, that should be considered a bug.
Thanks for the hint.

[2017-05-04 20:04] #110 closed

[2017-05-10 18:48] aditya2337 opened #111 "Update value when default value is updated and the value didn't change in uncontrolled mode"
If I set the default value set to a value set from the state and if in future the state changes(like in componentDidReceiveProps) the default value does not displayed as the selected chip.

[2017-05-10 19:22] leMaik commented on #111
That's the way `defaultValue` works. If you want to modify the selected chips, you have to use _controlled mode_ and set the `value` prop accordingly.

[2017-05-10 19:24] leMaik commented on #111
Feel free to re-open this, if you think that it is a bug. :wink:
You may want to take a look at the examples [here](https://github.com/TeamWertarbyte/material-ui-chip-input/blob/master/stories/) for further help.

[2017-05-10 19:29] aditya2337 commented on #111
But If I am fetching some data from some api and then I set the state of the `defaultValue` according to the response of the api call, it should technically call the render function again, hence the `defaultValue` sholud be changed showing me the selected default chip, but it currently does not work that way and I feel it still is a bug, I don't want to use controlled mode and want to keep it simp

[2017-05-10 19:31] leMaik commented on #111
Controlled mode _is_ simple. :sweat_smile: I won't "fix" this bug, as it isn't a bug. Your app state changes by fetching data, so you want to change this component's value, and that's what the `value` prop is there for, I'm afraid. :confused:

[2017-05-10 19:34] aditya2337 commented on #111
I have tried that trust me, If I am using the `value` prop, I am unable to cross out any chip, I might be missing something here but it gets all weird when I use the `value` prop

[2017-05-10 19:35] leMaik commented on #111
You also need to update your `value` value in the `onChange` handler. Please take a look at the examples, especially the controlled example. :wink: That's how many React components work!

[2017-05-10 19:39] aditya2337 commented on #111
Ah see with controlled mode you have the `handleRequestAdd` and the `handleRequestDelete` which are two functions right, but when I say I want to keep it simple I mean by my one function doing both the things that is the `onChange` function, which I feel should be possible.

[2017-05-10 19:39] aditya2337 commented on #111
I know its not that complex but still I feel it is a bug

[2017-05-10 20:21] leMaik commented on #111
I agree that having both, `onRequestAdd` _and_ `onRequestDelete` might not be the best architecture, but this is not a bug. :wink:

After some thinking, I _think_ that I could do the following: If the actual value of the chip input did not change (i.e. is the same _reference_ as `defaultValue`) and the `defaultValue` is updated, I could change the actual value to the new default value.

I'd see th

[2017-05-10 20:27] leMaik commented on #91
Material UI's `TextField` has the same 14px margin, so I won't fix this. As a work-around, you can wrap this component inside a `div` and give that `div` a negative `marginTop` value.

[2017-05-10 20:27] #91 closed

[2017-05-12 13:51] advance512 commented on #52
This was not fixed, right?

onRequestAdd receives an object (if you use `dataSource` and `dataSourceConfig`) while onRequestDelete receives a string, being just the value of the item in the data source.

e.g.

[code]

[2017-05-12 14:30] leMaik commented on #52
It _was_ fixed, but in the other way: `onRequestDelete` no _always_ gets called with the value (which is either the string or the `value` property when using `dataSourceConfig`.

[2017-05-12 14:47] advance512 commented on #52
Isn't this inconsistent?

You get the item in one, the value in another. Sure, sometimes the item is a string, sometimes it contains a text/label and the value string.

Seems to me that it would be more consistent to stick to either value or the complete item.

Anyways, I work around it by translating it so I can use it in redux-form.

[2017-05-12 14:52] leMaik commented on #52
Yes, but at least it's consistent for `onRequestDelete` calls, which it wasn't before. Making it consistent between `onRequestAdd` and `onRequestDelete` would be a breaking change, unfortunately (and I don't want to break everyone's code even if this is < 1.0.0).
I could do that when I update this to material-ui@next and bump the version to 1.0.0, though. :+1: Could you please open a new issue for

[2017-05-12 15:13] advance512 opened #112 "In v1.0.0, make onRequestAdd and onRequestDelete consistent"
onRequestAdd receives an object (if you use dataSource and dataSourceConfig) while onRequestDelete receives a string, being just the value of the item in the data source.

e.g.

[code]

You get the item in one, the value in another. Sure, sometimes the item is a string, sometimes it contains a text/label and the value string.

Seems to me that it would be more consistent to stick to either value o

[2017-05-12 15:14] advance512 commented on #52
Done. Awesome work, btw. :)

I'll probably wrap it in a new lib, that support redux-form and that can integrate into Google Places. Soonish or laterish

[2017-05-12 20:24] leMaik commented on #52
Thank you, @advance512 :relaxed:
That sounds like a good idea. I have an example for formsy support [here](https://github.com/TeamWertarbyte/material-ui-chip-input/issues/2#issuecomment-247402164), it may help you when building a redux-form wrapper.
Let me know when you're done, I'd like to link that as related project. :wink:

[2017-05-12 20:28] leMaik commented on #112
Since there might not be a _complete item_ if no `dataSource` is used (i.e. only string values), we'll stick to strings in that case.

[2017-05-12 21:50] advance512 commented on #52
I have the redux-form wrapper, actually. I had to split it into two:
A "multi-select" and a "tags input". The reason is that with a DataSource, I need to use onRequestAdd, but without one, I need to use onChange (which, btw, gives you the complete list of items, also a tad inconsistent, but there IS only one handler).

I don't have time to port my existing, _ugly_, component that merge `react-plac

[2017-05-22 18:14] VinceRao opened #113 "Unable to delete chip"
It can reproduce in storybook
Step:
1. open the storybook
2. try to click the x on the chip to delete but the chip still there

[2017-05-22 20:11] VinceRao commented on #113
The reason is the storybook has been configured before the injectTapEventPlugin has been called, switch the order will fix the problem.

[2017-05-22 20:11] #113 closed

[2017-05-22 20:18] leMaik commented on #113
Thank you, I've pushed a fix and will redeploy the storybook in a few minutes.

[2017-06-04 21:22] leMaik commented on #109
Sorry for the very late response, and I know that this might be too late. :disappointed:

For the first part: This _might_ be possible by specifying a `<MenuItem>` node as `text` element of a value in the `dataSource`, as Material-UI will then use _that_ node instead of the text. But I'm not sure about it, and it would be pretty hacky anyway. :sweat_smile:

The second part is pretty easy: You can

[2017-06-04 21:24] leMaik commented on #97
@advance512 Did you manage to connect this with Google Places? I'll be closing this as it's been a month without a reply, but feel free to re-open it when new questions arise. :+1:

[2017-06-04 21:24] #97 closed

[2017-06-05 23:49] pvjonesop opened #116 "Setting style for MenuItems in AutoComplete"
I'm having issues setting font styles on the MenuItems in AutoComplete. I've tried passing styles down for some of the AutoComplete overrides that are available through material-ui, but they're not touching the font. For example:

[code]

From doing some reading, it seems that this may be related to [a limitation](https://github.com/callemall/material-ui/issues/5861) of material-ui AutoComplete?

[2017-06-06 07:49] leMaik opened #117 "Customize auto-complete menu items"
It would be useful if it would be possible to customize the `MenuItem`s that are used in the auto-complete menu.

This would fix #116 and also help in #109.

[2017-06-06 07:50] leMaik commented on #116
Seems to be a limitation of Material-UI's AutoComplete, as we're just passing the `menuStyle` option down. So sadly, I can't fix that.

Using a `MenuItem` as `value` perhaps _should_ work but isn't tested and thus isn't an official feature of this component, although I expected it to work and even recommended trying this some days ago. :sweat_smile:
I just opened #117 to track this.

[2017-06-07 15:24] pvjonesop commented on #116
Awesome, thanks for the reply! I'll see if I can get that to work in the meantime.

[2017-06-07 23:20] pvjonesop commented on #116
I think I'm getting close, but maybe approaching it the wrong way. If you have time for any recommendations I'd really appreciate it. I'm having trouble since I'm working with both a dataSource and a dataSourceConfig (this component needs to be able to handle differently-configured objects as values). It seems that perhaps AutoComplete and ChipInput both want to use dataSourceConfig but in slightl

[2017-06-13 19:50] leMaik commented on #116
@pvjonesop Sorry for the late response. This looks good, I think I'll add a `menuItemRenderer` prop that receives `{ value, text }` and then returns a string or a `MenuItem` but defaults to just returning `text`. What do you think?

[2017-06-14 21:24] arlen-yu opened #119 "Controlling when to open the popover"
I want to be able to open and close the popover with the click of a button, but it doesn't seem to be working. Right now I'm trying to modify the open prop of AutoComplete:

[code]

And here's the button:
[code]

where `openPopover()` simply modifies the state to have `open: true`. Any solutions?

[2017-06-15 09:44] leMaik commented on #119
The underlying `AutoComplete` component only opens the popup menu when the `open` prop _changes_ to `true`. So you need to add `onClose={() => this.setState({ open: false })` to your `ChipInput`.

[2017-06-15 13:31] arlen-yu commented on #119
Thanks for the response. I've implemented the changes and checked that the state is changing from true to false yet still the popover isn't opening (or closing, or changing at all). Not sure what the reason for this is, perhaps the prop isn't properly passed down to the AutoComplete?

Is there any other workaround solutions you can think of?

[2017-06-15 16:12] leMaik commented on #119
@arlen-yu I made sure that the `open` prop is passed down (and not being able to open the popover when setting `open={false}` also confirms this).

I'll try to throw together a minimal example, stay tuned… :+1:

[2017-06-15 16:24] leMaik commented on #119
The following example works fine:

[code]

[2017-06-15 17:29] arlen-yu commented on #119
I replicated your example exactly and it doesn't work on my end... Very weird!

[2017-06-15 18:00] arlen-yu commented on #119
Updated my material ui to 0.18.0 and it still doesn't seem to work. What versions are you using?

[2017-06-15 18:56] arlen-yu commented on #119
Ah, they fixed the open prop of Autocomplete in 0.18.1 according to the change log. Thanks for your help.

[2017-06-15 18:56] #119 closed

[2017-06-16 14:11] wesley6j opened #120 "Optional allowCustomValue prop"
There are some situations that creating new values by pressing enter may not be desired? (select users to create a group, but creating a new user needs more that a name).

[2017-06-16 14:19] arlen-yu commented on #120
I think that it already has this capability (if I am understanding you correctly), see `newChipKeyCodes` prop.

[2017-06-16 16:06] wesley6j commented on #120
@arlen-yu Thanks. This solves my problem.

[2017-06-16 16:06] #120 closed

[2017-06-16 16:34] arlen-yu opened #121 "Only line break if your text will overflow"
Hi, is it possible to have the ability to only line break if the text will overflow? Right now the text field will automatically carriage return if it feels it doesn't have sufficient space, even when no text is typed yet. Having the carriage return looks a bit clunky sometimes.

[2017-06-16 18:35] leMaik commented on #121
Maybe you're right, but I think that wrapping while typing would feel a bit strange too, wouldn't it?

[2017-06-16 18:45] arlen-yu commented on #121
Yea that's true. How about instead of wrapping, the carrot only jumps to the next line when the user typing reaches the max capacity.

Or, is there any way to manually control the width of the input field (rather than text field)?

[2017-06-17 19:55] wesley6j commented on #121
@arlen-yu  This is how `AutoComplete` set its width: `width: fullWidth ? '100%' : 256`.
So you will have to wrap it in a div with the `width` you want and then pass `fullWidth=true` to `AutoComplete`.

One problem I can think of is that, by default, the choices list with be of the same width as input field. So when you have only entered a few letters, the choices list will be hard to read.

[2017-06-17 21:51] davidascher opened #122 "Autocomplete not working on iOS"
It appears that the autocomplete dropdown doesn't show on small screens (iphone 5, ipod).  Is that by design? If so, can we make it customizable? I'm using material-ui-chip-input for a tagging system, and autocomplete is a pretty critical requirement.

[2017-06-18 08:29] leMaik commented on #122
This is of course not by design. Unfortunately, I can't reproduce this bug; the autocomplete menu works fine on my Nexus 4 and I don't have an iPhone to test things on.
Are there any errors on the console when using the component on an iPhone 5 or iPod? Do you find the element in the element tree and could you tell me where it is located?

[2017-06-18 08:34] davidascher commented on #122
this is a problem upstream i believe with material-ui.  will close this issue.

[2017-06-18 08:37] leMaik commented on #122
Would you mind linking to the upstream issue? That might help other people that have the same problem.

[2017-06-18 08:39] davidascher commented on #122
Sure thing: https://github.com/callemall/material-ui/issues/3638 is my best guess.

[2017-06-18 09:12] leMaik commented on #122
I'll keep this issue open to keep an eye on it. :+1:

[2017-06-26 20:23] techniq commented on #116
Passing a component as a value can also be used for `<Divider />` (at least it's the only way I've found thus far). [example](https://codesandbox.io/s/L8Vn1nn6w)

Doing this though does raise some React warnings though.
![image](https://user-images.githubusercontent.com/177476/27558605-b6622afc-5a8b-11e7-8dfa-c424a52eda7b.png)

[2017-06-27 09:35] aayush2252 commented on #122
I also found that issue in my iphone 7, 6S and 5S. I guess it's versioning issue because it works fine with 10.2.X version but not with 10.3.X.

[2017-07-04 19:20] leMaik commented on #122
The upstream issue seems to be fixed. :+1:

[2017-07-04 19:20] #122 closed

[2017-07-08 11:47] cyrus-za opened #123 "You cannot call prepareStyles() on the same style object more than once"
I get the following error when using it with **redux-form**
`browser.js?fe34ab5:49 Warning: Material-UI: You cannot call prepareStyles() on the same style object more than once.`

[code]

[2017-07-08 16:07] leMaik commented on #123
After a first look, I don't see where we call `prepareStyle` on the same object. :thinking: Do you have any idea?

[2017-07-10 11:20] cyrus-za commented on #123
I think material-ui calls it. I am not sure what triggers it. Probably the onChange callback.

[2017-07-10 11:27] leMaik commented on #123
So... How am I supposed to fix this? :sweat_smile:

[2017-07-10 11:36] cyrus-za commented on #123
It only occurs with your component. No other material ui component.

[2017-07-10 11:40] leMaik commented on #123
Allright, I'll try to reproduce the error. I still have no idea what causes it, as we re-create the style object on each `render()` call.

[2017-07-10 11:55] cyrus-za commented on #123
Thanks for checking it out. If you know of a easy way to host the example, let me know. I can't seem to find a cdn for material-ui and JS-bin don't have it in their list of libraries. I'm not sure what people use these days for react to demonstrate issues. Does JSFiddle have all the required libraries maybe?

[2017-07-11 17:58] leMaik commented on #109
Closing this after a month without response. Feel free to re-open this if you need further help.

[2017-07-11 17:58] #109 closed

[2017-07-11 18:45] #90 closed

[2017-07-11 18:46] leMaik commented on #90
Sorry, it's been a while. :sweat: This will be fixed in the next release.

[2017-07-11 19:29] leMaik commented on #123
I just submitted a PR to Material-UI that fixes this warning. Using the chip input with redux-form works fine, it only shows lots of warnings in the console. :confused:

[2017-07-11 19:29] #123 closed

[2017-07-12 17:22] cyrus-za commented on #123
Have you successfully used it with redux-form where the value actually gets updated via redux-form? For me, the initial values get loaded and the component shows the selected values, but it doesn't actually get sent in the handleSubmit callback from redux-form.

[2017-07-12 19:33] leMaik commented on #123
Well, I tried the example you provided and it worked. I didn't try to submit the form. :wink:  Also, I submitted a PR to Material-UI that fixes _this_ issue. Feel free to open a new one for the submission problem.

[2017-07-13 14:04] cyrus-za commented on #123
Once the PR goes through I'll update MUI and check if it submits correctly when there's no longer a error message as I suspect the reason it doesn't update the value is due to erroring out.

[2017-07-13 15:49] leMaik commented on #123
The error message came from [here](https://github.com/callemall/material-ui/blob/master/src/utils/callOnce.js#L9). I don't think that the `warning` actually throws an exception, so I guess that the submission error is related to something else. I'll investigate the problem this weekend.

[2017-07-14 19:24] leMaik commented on #123
@cyrus-za I it with the Material-UI patch applied. It doesn't work, the value of the form field just doesn't get updated.

[2017-07-14 22:50] bradrisse commented on #76
Add fullWidth to make it display on one line

```<ChipInput fullWidth defaultValue={['foo', 'bar']} />```

[2017-07-14 23:26] bradrisse commented on #121
Add fullWidth to make it display on one line, input style to keep it from going to the next line too soon, and chipContainer to auto so it doesn't inherit the 100%

```<ChipInput fullWidth inputStyle={{width: 50}} chipContainerStyle={{width: 'auto'}} defaultValue={['foo', 'bar']} />```

[2017-07-15 06:32] adziashvili opened #125 "Warnings with latest MUI"
Recently upgraded to latest MUI and started seeing warnings in the log (chrome canary 61...).
Looks like it is related to the onblur event handling. Anyone seeing same issue? Can issue fix or provide guidelines?

Versions:
material-ui@0.18.6
react@15.6.1
node: 7.9.0

Console warning:  **Warning: Material-UI: You cannot call prepareStyles() on the same style object more than once.**

[code]

[2017-07-15 09:17] leMaik commented on #125
This was already discussed in #123. It's an upstream issue from Material-UI and I already provided a PR over there which was already merged. So we'll just have to wait for the next release of Material-UI.

[2017-07-15 09:17] #125 closed

[2017-07-17 10:05] cyrus-za commented on #123
@leMaik I'm not sure what `I it with` means. I think there's a word missing in that sentence :)

So we just waiting on them to release a update?

[2017-07-17 15:45] leMaik commented on #123
@cyrus-za Well, it was pretty late. :sweat_smile: I meant to say "I tried it with the Material-UI patch applied." The warning is gone, but the form still doesn't get any value and I couldn't figure out why. :confused:

[2017-07-17 17:12] cyrus-za commented on #123
ah ok. May I ask, how have you been using this component? Do you just not use redux-form or what?

[2017-07-17 17:24] leMaik commented on #123
I used it with redux as well as with `setState` and it worked just fine. Never heard of redux-form before this issue.

[2017-07-18 09:47] cyrus-za commented on #123
redux-form is the best thing since cheese. https://youtu.be/eDTi7lYR1VU

[2017-07-18 21:37] leMaik commented on #123
Thank you, I'll give it a try in the next project. :+1: Still don't understand why it doesn't want to work with the chip input, though, even after re-reading the docs and looking at the tutorials. :confused:

[2017-07-21 09:46] rullyramanda opened #126 "Non character keypress clear input value"
If i press backspace (keycode: 8) it removes the entire text that was typed, which is not what i want, as i want to delete one char only. At first i think this only occurred when i press backspace, but it turns out it affects some keys too like shift, ctrl, command, capslock etc. except enter.

[2017-07-21 10:52] leMaik commented on #126
Looks like a regression introduced by #124 :confused: I'm trying to fix it and will release a patch soon.

[2017-07-21 11:05] #126 closed

[2017-07-21 11:05] leMaik commented on #126
@foloinfo Would you mind checking if my fix broke your fix for #124? :smile:

[2017-07-21 13:02] foloinfo commented on #126
@leMaik Hi! I checked this patch and unfortunately it broke fix for #124 .

I found that I misunderstood behaviour of `handleKeyUp`, I thought it `clears input if user hits Enter` but it was to `set inputValue if user hits anything other than Enter`.
In order to handle IME, I need to `ignore Enter key if keypress event is NOT fired`(means `clear the input when Enter key was pressed AFTER keypress

[2017-07-22 16:35] BrandKNY opened #128 "You cannot call prepareStyles() on the same style object more than once"
This issue appears to have been recently closed out (reference issue #123). I am still seeing this issue myself using Material-ui v0.18.6.

Specifically I am rendering a set of Chip components which use the 'onRequestDelete' function prop. Furthermore I attempted to use the 'deleteIconStyle' prop which was causing an error "Warning: Unknown prop 'deleteIconStyle' on <div> tag. Remove this prop fro

[2017-07-22 16:38] leMaik commented on #128
My PR was merged 11 days ago, whereas v0.18.6 was released 17 days ago, so it's already fix, please be patient until they push out a new release. :hourglass_flowing_sand:

The warning is not caused by the chip input.

[2017-07-22 16:38] #128 closed

[2017-07-22 16:42] BrandKNY commented on #128
@leMaik My bad, it's early I must've crossed the dates in my head after looking at them and thought your PR was issued before the push to 0.18.6

Thanks for the rapid reply.

[2017-07-24 08:23] viteksafronov commented on #88
material-ui won't have an AutoComplete component at all. They suggest to use react-autosuggest instead.

[2017-07-24 09:02] leMaik commented on #88
@viteksafronov Yes, already saw that and we already had to remove auto-complete support in another project (where auto-complete wasn't really a core feature).
Maybe we can make react-autosuggest optional so that it works without the dependency but supports auto-complete, if it is available. :thinking:

[2017-07-31 14:54] oktay-sen opened #129 "Pass the dataSource value directly in chipRenderer"
When using chipRenderer with objects in the dataSource, we only have access to text and value, when we could have access to the dataSource object directly. I'd like to be able to use other variables inside the dataSource object, like avatarUrl or backgroundColor. Looking at the source code, this seems to be a 1 line change, and I think it would be very useful for everyone.

[2017-07-31 14:55] leMaik commented on #129
Would you like to create a PR that changes that one line without breaking backward-compatibility? :wink:

[2017-07-31 15:01] oktay-sen commented on #129
Added pull request #130 :)

[2017-07-31 15:21] #129 closed

[2017-08-02 13:15] cyrus-za opened #131 "Loading spinner"
It would be great to have a default loading spinner built in when a prop such as Loading or DataSourceLoading is set to true.

Seeing as most use cases for AutoComplete (and this input) is to filter from large data sets, otherwise, a SelectField would do just fine.

That being said, large data sets are usually looked up asynchronously rather than loading it all in browser memory. The actual logic

[2017-08-02 13:24] leMaik commented on #131
I think that this is somewhat out of scope, especially since auto-complete will be removed in Material-UI 1.0 and thus we'll have to see how we can keep supporting it.
I'll keep this open anyway, it's a good idea and I'm open for feedback. :+1:

[2017-08-02 13:44] cyrus-za commented on #131
Why will it be removed? What will replace it?

[2017-08-02 14:07] leMaik commented on #131
Because it's a pretty big problem on its own and thus kind of out of scope for Material-UI. There are some react auto-complete libraries that can be used with material-ui instead.
Maybe we'll write a component that integrates one of these with Material-UI 1.0 one day. :wink:

[2017-08-02 15:36] yoihito commented on #21
@pvjones How do you use ChipInput with redux-form? I tried the wrapper above. Redux-form hangs and dispatches endless REGISTER_FIELD actions.

[2017-08-03 10:23] stavlocker opened #132 "onSubmit always returns empty array"
Hey guys, very nice project. Looking forward to see the v1 integration. But I'm experiencing an issue: Submitting the form doesn't pass the chips added. You can see this in the [storybook](https://teamwertarbyte.github.io/material-ui-chip-input/?selectedKind=ChipInput&selectedStory=in%20a%20form&full=0&down=1&left=1&panelRight=0&downPanel=kadirahq%2Fstorybook-addon-actions%2Factions-panel).

[2017-08-03 10:44] stavlocker opened #133 "Assign value to chip"
Is there a way to assign a certain value to a chip? For example, I want the text to say `xyz` but I want the value (that will be passed onto onSubmit for example) will be `abc`. This way there may be two chips that have the same text but have different values so they're allowed. It'd be great to see this in the project.

I for example need this because I'm making an "invite people" form and this w

[2017-08-03 14:36] leMaik commented on #133
This is possible by using the `chipRenderer` prop, which gets (among others) the raw object.

[2017-08-03 14:39] leMaik commented on #132
How should it? There is no code that would add the chip's input to the values that get submitted in that example.

[2017-08-03 14:39] #132 closed

[2017-08-08 08:32] greenkeeper[bot] opened #134 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-08-08 08:39] greenkeeper[bot] opened #135 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-08-08 17:31] #121 closed

[2017-08-08 19:16] #134 closed

[2017-08-11 10:55] simnau opened #136 "Cannot overwrite the error text color like in MaterialUI TextField"
https://github.com/TeamWertarbyte/material-ui-chip-input/blob/858aa48e90472fb262006991c3fe0f6e39747744/src/ChipInput.js#L463
It's impossible to style the ChipInput's error text color in the way it's possible using a MaterialUI TextField.
This changes the underline and the error text color to orange in MaterialUI:
`
<TextField
  errorStyle={{ color: 'orange' }}
/>
`
This changes only the underline

[2017-08-11 22:58] #136 closed

[2017-08-11 23:00] leMaik commented on #136
Thanks for the report, the fix is released as v0.16.1 :+1:

[2017-08-16 00:06] rsolomon opened #137 "Remove dependency to `react-tap-event-plugin`"
material-ui@0.19.0 removed all dependencies for `react-tap-event-plugin`, and all usages of `onTouchTap`. It instead just uses `onClick` for all click/touch interaction events. More information can be found [here](https://github.com/callemall/material-ui/releases/tag/v0.19.0).

`material-ui-chip-input` still depends on `react-tap-event-plugin` / `onTouchTap`, and throws console warnings when used

[2017-08-16 07:44] leMaik commented on #137
Thank you for the PR! :tada: It's a bit sad that there is a breaking change in material-ui 0.x while 1.0.0 is already in beta, but yeah... :roll_eyes: Guess we'll have to update all of our components... twice.

[2017-08-16 07:45] #137 closed

[2017-08-17 14:32] vijaykunapareddy opened #139 "Problem in supporting IE 11 in production mode"
I am using material-ui-chip-input in my popup, it is working good in Chrome, but not supporting in IE 11 in production mode . Please let me know whether material-ui-chip-input supports IE 11 or not.

Thanks,

[2017-08-17 19:26] leMaik commented on #139
Could you please provide some stack traces / error messages? If there is a not too complicated fix, I'll try to make it work with IE 11.

[2017-08-17 19:29] vijaykunapareddy commented on #139
Sorry, It's my bad, actually I had problem with material-ui-chip component not material-ui-chip-input.
I got update from material- ui team. Anyway thanks for your reply. Appreciated.

[2017-08-17 19:29] #139 closed

[2017-08-21 07:38] djhi commented on #137
Hi! Can you release this change? :pray:

[2017-08-21 10:11] leMaik commented on #137
@djhi Thanks for the reminder, I'll release it this evening.

[2017-08-21 15:06] leMaik commented on #137
@djhi Done: https://github.com/TeamWertarbyte/material-ui-chip-input/releases/tag/v0.17.0 :tada:

[2017-08-21 15:13] djhi commented on #137
:tada: ! Thanks !

[2017-09-03 17:10] marutha opened #141 "controlled chipinput objects as chips"
The example is not working, do we have an example source code?

https://teamwertarbyte.github.io/material-ui-chip-input/?selectedKind=ChipInput&selectedStory=objects%20as%20chips%2C%20controlled&full=0&down=1&left=1&panelRight=0&downPanel=kadirahq%2Fstorybook-addon-actions%2Factions-panel

[2017-09-03 18:11] leMaik commented on #141
The code is fine, we just don't handle `onRequestAdd` properly. Please take a look at the other controlled examples to see how this event should be handled.

[2017-09-06 05:38] umidbekkarimov commented on #88
I guess after another [bummer](https://github.com/TeamWertarbyte/material-ui-chip-input/pull/142) with material-ui/AutoComplete, we should start working in `react-autosuggest` direction.

[2017-09-06 07:53] muhilham opened #143 "doesnt work on material-ui v0.19.1"
i just upgrade my module into material-ui v0.19.1 and suddenly event onChange and onRequestAdd doesnt work with ChipInput props. But if i downgrade my version material-ui v0.19.0 suddenly it work, any help ?

[2017-09-06 08:58] leMaik commented on #143
Wow. material-ui bringing breaking changes to a patch update. Awesome! :confused: Just use v0.19.0 for now, we'll try to fix it soon.

[2017-09-06 08:58] leMaik commented on #143
Wow. material-ui bringing breaking changes to a patch update. Awesome! :confused: Just use v0.19.0 for now, we'll try to fix it soon.

[2017-09-06 09:01] leMaik commented on #88
@umidbekkarimov Yes indeed, but only for material-ui@1. We'll keep using AutoComplete for 0.x. :wink:

[2017-09-07 12:02] muhilham commented on #143
it works with the new release v0.17.2 material-ui-chip-input. Thx @leMaik !!!

[2017-09-07 12:02] #143 closed

[2017-09-07 12:17] leMaik commented on #143
@muhilham All credits to @umidbekkarimov! He fixed that. :sunglasses:

[2017-09-07 19:25] muhilham commented on #143
you are my hero, dude ! @umidbekkarimov

[2017-09-13 08:37] matsumatsu233 opened #144 "ChipInput closes IME input dialog after each key press"
For example, if I want to input Chinese word 你好, I will type **n, i, h, a, o, space**.
The IME dialog comes out after key pressing, but it disappears in a flash, and leaving only the letters (nihao) on the input field. So it means that I cannot transform letters to Chinese Character. Also Japanese has the some issue.

I found out that this issue comes out from v0.17.0, until v0.16.1 it works well.

[2017-09-13 09:21] leMaik commented on #144
Hm, I don't know what causes this, the changes in v0.17.0 are [pretty small](https://github.com/TeamWertarbyte/material-ui-chip-input/commit/dcca47af6a82ba86500043692e15d7da07849e58). Unfortunately, I can't reproduce IME issues here.

Any help or maybe even a PR would be greatly appreciated! :+1:

[2017-09-13 09:34] matsumatsu233 commented on #144
I guess the mui's version change causes this issue. I've tried to fix it but failed :(

Forgot to say that on the mobile phone it behaves even stranger. The IME doesn't disappear. But if I type 你好 for example, after each pressing the text on IME will be appended to text field. So finally the text becomes something like "nninihnihanihao".

[2017-09-13 09:39] leMaik commented on #144
Strange :confused:
@foloinfo You did some great work in fixing IME bugs before, would you mind taking a look on this? :smile:

[2017-09-13 11:29] foloinfo commented on #144
Hi, I haven't updated for a while so I updated the package from 0.15.3 to 0.17.2 and tested, and it works fine in both versions.
I tested with Japanese IME and I added Chinese IME but seems like it is working as well.
I'm using Google Japanese Input and MacOS's default IME for Chinese. I'm using react 15.6.1, material-ui 0.18.7.

I looked at code diff as well, but it seems like those changes are n

[2017-09-13 11:54] matsumatsu233 commented on #144
Hi @foloinfo, your info helps a lot, thank you!

I just cloned this repo and ran the storybook to test its behavior. So my material-ui's version is 0.19.1. Also when I first found this bug on my own project, I was using 0.19.1.

I've tried to downgrade material-ui to 0.18.7 and found that it is working well both for Japanese and Chinese IME as you mentioned. And I guess you could replicate it with

[2017-09-13 12:25] foloinfo commented on #144
@matsumatsu233 I'm grad to hear that!
So there is an issue with that version of material-ui. For now material-ui v1 is coming and seems like they are rebuilding texfield component from ground up, so I guess I'll stick to 0.18.7.
If you are ganna tackle this problem and need some help, feel free to mention me. :)

[2017-09-13 12:38] leMaik commented on #144
@foloinfo Thank you very much for your help! :)

[2017-09-14 12:36] ashl1 commented on #2
@leMaik Have you opened a PR to add your example in public examples?

[2017-09-14 12:38] leMaik commented on #2
@ashl1 No I didn't, but I also don't use formsy-material-ui.

[2017-09-20 08:17] kalimantos opened #145 "Is possible to have some type of validation before adding a chip?"
I'm trying to make a input for a mail "to" field, so chips are so useful, but before adding it i want to be sure that the input contains a valid email address. It is possible to do that?
Thank you

[2017-09-20 10:34] leMaik commented on #145
That's possible by using the _controlled_ mode and then not adding invalid chips in the `onRequestAdd` handler.

[2017-09-20 10:46] kalimantos commented on #145
yes thank you, but everytime i press enter the input is cleaned indipendently from whether the chip is added or not. How can i make that input not been cleared?

[2017-09-20 10:49] leMaik commented on #145
Uhm… You can't, at the moment. Maybe we could add a `onBeforeRequestAdd` callback, that returns `true` or `false` for adding/not adding the chip which can then be used for validation. :thinking:

What do you think?

[2017-09-20 10:50] kalimantos commented on #145
it should be awesome!

[2017-09-20 10:50] leMaik commented on #145
Would you like to implement this in a PR? :)

[2017-09-20 10:51] kalimantos commented on #145
yep! give me few minutes

[2017-09-20 10:52] leMaik commented on #145
Granted. :smile: No pressure, though. :wink:

[2017-09-20 12:29] kalimantos commented on #145
let me know if it's ok ;)

[2017-09-22 08:58] Jf881 opened #147 "material-ui v1 support"
When using material-ui@next ChipInput breaks because of changes to material-ui. For example:
Can't resolve 'material-ui/TextField/TextFieldUnderline'
Can't resolve 'material-ui/TextField/TextFieldHint'
...and material-ui/styles/colors has moved to material-ui/colors.
Any chance of an update soon?

Steps to reproduce:

Add "import ChipInput from 'material-ui-chip-input' " in App.js

Thx!
/J

[2017-09-22 09:01] leMaik commented on #147
This component doesn't support v1 of material-ui yet. There are lots of breaking changes, unfortunately, so it will take a while. But we're definitely planning to support it!

[2017-09-22 09:02] leMaik commented on #147
Uhm… Actually, this is a duplicate of #88

[2017-09-22 09:02] #147 closed

[2017-09-22 09:07] Jf881 commented on #147
Thx for superfast reply, missed that one.
/J

[2017-09-28 09:09] meds opened #148 "Possible to see the source for the storybook?"
Particularly interested in the 'custom chips' example, I can make it work from the API but I wanted a basic boilerplate template of the chips to  build on top of.

[2017-09-28 11:02] leMaik commented on #148
Voilà: https://github.com/TeamWertarbyte/material-ui-chip-input/tree/master/stories

[2017-09-28 11:02] #148 closed

[2017-09-29 08:19] thupi commented on #88
[paypal/downshift](https://github.com/paypal/downshift) Might also be worth looking at :-) I found it way less problematic when it comes ot multiselect and so on :-)

[2017-09-29 22:31] hollinwilkins commented on #76
@leMaik Is there any way that I can get the autocomplete to always show up on the bottom left of ChipInput AND only have a new line appear when text is overflowing to the right of the input?

[2017-09-30 12:18] leMaik commented on #76
@hollinwilkins Do you mean `fullWidthInput`?

[2017-10-11 09:44] leMaik commented on #145
Merged, I'll release a new version in a few minutes.

[2017-10-11 09:44] #145 closed

[2017-10-13 09:57] tjandraflorence opened #151 "Uncaught TypeError onKeyDown arrow left & right"
Hi, I was using ChipInput with dataSource containing array of objects. My code is as follows
[code]
When I press left arrow (37) & right arrow (39), I got error:
`Uncaught TypeError: Cannot read property 'value' of null`

Could you please advise? Thanks!

[2017-10-14 19:46] leMaik opened #153 "Controlled mode is broken?"
https://github.com/TeamWertarbyte/material-ui-chip-input/pull/146#issuecomment-336369961

[2017-10-15 12:54] #151 closed

[2017-10-17 03:50] marsonmao opened #155 "How to modify menuStyle, titleStyle and listStyle of the underlying AutoComplete?"
As material-ui is supporting `menuStyle` and `listStyle` of `AutoComplete`, will the authors choose to add these props in the future so that we can customize the `AutoComplete` appearance?

To be very specific, I mean adding:
[code]

[2017-10-17 17:03] takealuke opened #156 "material-ui-chip-input@0.12.2 requires a peer of material-ui@>= 0.15.0 <= 0.16.x but none is installed. You must install peer dependencies yourself."
Getting an npm warning:

material-ui-chip-input@0.12.2 requires a peer of material-ui@>= 0.15.0 <= 0.16.x but none is installed. You must install peer dependencies yourself.

But unable to do npm install -save material-ui@>= 0.15.0 <= 0.16.x

Get an error:

npm ERR! code E404
npm ERR! 404 Not Found: 0.15.0@latest

[2017-10-17 17:11] takealuke commented on #156
I restarted mu npm updates -- just did them over again -- and now there is no issue. . .  very strange (but closing this issue)

[2017-10-17 17:11] #156 closed

[2017-10-17 20:19] ashl1 opened #157 "Add .babelrc to .npmignore"
## The case
* some of libs in npm registry provides only ES6 builds
* we want to support browsers with ES5 builds

## Solution we use
* enable `babel` for `node_modules` directory

## Problem
While Babel is run for files provided by npm, the Babel configuration is presented in the package.json file. But the already babelified js file will be used. Threfore our (external) Babel tries to use (intern

[2017-10-17 21:42] leMaik commented on #157
So… you recompile all dependencies… again? :fearful:

[2017-10-17 22:09] leMaik commented on #156
The peer dependency is `material-ui`, `>= 0.15.0 <= 0.16.x` is the version range, so you just need to run `npm install --save material-ui`.

[2017-10-17 23:13] ashl1 commented on #157
Yep. Look at https://philipwalton.com/articles/deploying-es2015-code-in-production-today/
I'll make a PR tomorrow

[2017-10-19 11:09] natrim opened #159 "chip autocomplete not working on react 16"
chip autocomplete is not working on react 16 with material-ui 0.19
it does not add chip on click

reposted from https://github.com/marmelab/admin-on-rest/issues/1139

[2017-10-22 05:14] hurano opened #160 "Support japanese"
I tried to type Japanese but it doesn't work. Could you support multiple languages?

[2017-10-22 09:48] leMaik commented on #160
This was already fixed a bunch of times: #144 #124 #126

Could you please explain what exactly doesn't work and how the component behaves and should behave? "Does not work" is not a good starting point for debugging. :sweat_smile:

@foloinfo I think I broke this again. :cry: Is there any way this could be tested (and automatic way would be even better).

[2017-10-22 09:52] leMaik commented on #153
Fixed thanks to @tjandraflorence

[2017-10-22 09:52] #153 closed

[2017-10-22 10:00] hurano commented on #160
If its Chinese character, it works. but if i try hiragana, it disappear after I type enter key.
https://www.screencast.com/t/wjopnX8fcR

[2017-10-22 10:02] leMaik commented on #160
@hurano PR welcome. I can't reproduce these bugs unfortunately.

[2017-10-22 10:03] leMaik commented on #157
@ashl1 It's been some days, I'll just to this myself for the upcoming release. :wink:

[2017-10-22 10:19] leMaik commented on #159
@natrim I'm afraid I can't reproduce this with react@16 in [the updated storybook](https://teamwertarbyte.github.io/material-ui-chip-input/?selectedKind=ChipInput&selectedStory=with%20auto%20complete%2C%20custom%20filter%2C%20open%20on%20focus&full=0&down=1&left=1&panelRight=0&downPanel=storybook%2Factions%2Factions-panel).

Please feel free to reopen this when you have more information on how to

[2017-10-22 10:19] #159 closed

[2017-10-22 10:27] foloinfo commented on #160
@leMaik I've never written a test involve key press behaviour, but basically what matter is the `keyCode` and `state of keypress`, so if you call `handleKeyDown`, `handleKeyUp`, and `handleKeyPress` in the same manner as how IME behaves then you can test this with something like jest, I guess.

@hurano Have you tried with material-ui 0.18? [Some versions of material-ui have bug with this library](

[2017-10-22 10:49] leMaik commented on #160
@foloinfo Hm… mocking IME with jest sounds like a bad idea now that I think about it. It should be tested in browsers.
Downgrading material-ui sounds like a bad solution, since this library only (officially) supports material-ui@0.19.x. I'd really prefer to get this bug fixed. :)

[2017-10-22 10:52] #157 closed

[2017-10-22 11:55] foloinfo commented on #160
@leMaik I though of something like these.
[dmauro/Keypress](https://github.com/dmauro/Keypress/blob/development/test/tests.coffee)
[RobertWHurst/KeyboardJS](https://github.com/RobertWHurst/KeyboardJS/blob/master/test/keyboard.spec.js)
However I’m not sure it’s a good idea or not. Seems to me there are not much other way.

Automated test in browsers... I’ve only used phantomjs, so I looked at API a

[2017-10-22 21:09] hurano commented on #160
Did you guys modify the demo? I tried today. and it is working perfectly for Japanese. Thanks.

[2017-10-22 21:10] leMaik commented on #160
@hurano I updated the demo, but that shouldn't have changed anything… … … should. Maybe the demo was just old, I'm sorry!

[2017-10-22 21:10] #160 closed

[2017-10-22 21:11] leMaik commented on #160
@hurano Also, the demo now uses React 16, which may or may not affect the japanese input problems.

[2017-10-22 21:17] hurano commented on #160
Thank you so much for your quick support. I love your work. Thanks.

[2017-10-26 02:10] marsonmao commented on #155
Oh found another one, AutoComplete's `textFieldStyle`...this one is also very important, since it affects the width of this element

[2017-10-26 06:11] jriuamb opened #161 "When onBeforeRequestAdd returns false, it should not clear input"
The definiton of onBeforeRequestAdd says that when return false is "to prevent the chip from being added without clearing the text input" and now this does not happen

[2017-10-31 21:45] leMaik commented on #155
All undocumented props are [passed down to AutoComplete](https://github.com/TeamWertarbyte/material-ui-chip-input/blob/master/src/ChipInput.js#L559), so your example should work just fine.

[2017-11-06 06:51] marsonmao commented on #155
@leMaik You are right, and I was also pasting that part in my code snippet, so that was really a mistake. Thanks for your reply!

[2017-11-06 07:34] leMaik commented on #155
Glad I could help you. 👍

[2017-11-06 07:34] #155 closed

[2017-11-07 00:54] liutongchen opened #162 "Controlled chips calling onChange instead of onRequestAdd and onRequestDelete"
I am using `ChipInput` as a controlled component and according to the document, if I use it as controlled components, adding and deleting a chip will call `onRequestAdd` and `onRequestDelete`
if I understand correctly. But output of the following code indicates that `onChange` is called instead of `onRequestAdd` and `onRequestDelete` even when `ChipInput` has an attribute `value`.

I'm wondering w

[2017-11-07 15:43] Wenzil commented on #88
Any progress on this?

[2017-11-07 18:33] liutongchen commented on #162
Sorry, it's because some stupid typo I made when controlling the state.

[2017-11-07 18:33] #162 closed

[2017-11-07 19:31] leMaik commented on #162
Allright, feel free to open a new issue if you have more questions. :+1:

[2017-11-07 19:34] leMaik commented on #88
@Wenzil Not yet, but we recently started porting our other components to material-ui 1.0.0, so the port of this component will soon be started. You may create a PR if you want to help us porting it or get started. :+1:

[2017-11-09 11:55] gaurav414u commented on #159
Is it working guys?

[2017-11-10 22:52] leMaik commented on #159
@gaurav414u As I said, I can't  reproduce this issue

[2017-11-11 22:06] #161 closed

[2017-11-11 22:07] leMaik commented on #161
Fixed. A new patch release will be on npm shortly. :+1:

[2017-11-11 22:18] jriuamb commented on #161
Thank you so much! I'll try it soon

[2017-11-14 03:54] chrisabrams opened #163 "Disabling the chip input also disables the current inputs in the chip."
Is there a way to disable the text input, but not the current chips? Aka, make it to where a user cannot add, but they can delete?

[2017-11-16 13:00] gknapp opened #164 "onChange event not firing, can't type in ChipInput"
I've wrapped `ChipInput` and to make it a controlled input. I've also tried uncontrolled but I don't see any redux actions being created after the focus action. Typing in the field does nothing and I see no actions in the console / redux-logger.

I've tried overriding `onChange` (when uncontrolled and using `defaultValue`), switching this to a stateful component as per the controlled input example

[2017-11-16 13:59] leMaik commented on #164
`onRequestAdd` should be called after pressing enter :thinking: Could you add some log statements to investigate this?

[2017-11-17 10:50] espinacs commented on #164
Hi @leMaik and @gknapp , i've been having the same problem (nothing happens on key input) with the new release (v0.18.3), event with the minimum configuration
`<ChipInput
    hintText='Hint text'
  />`

Downgraded to v0.18.2 and everything works fine again.

[2017-11-17 11:30] leMaik commented on #164
@espinacs Your example works fine on my machine, with v0.18.3

[2017-11-17 11:59] gknapp commented on #164
I was on version `0.15.3`. I upgraded to the latest `0.18.3` release, the problem remained. I just downgraded, as @espinacs did, to `0.18.2` and now I can type in the `ChipInput` again and its working fine.

Could the [`handleAddChip`](https://github.com/TeamWertarbyte/material-ui-chip-input/compare/v0.18.2...v0.18.3) change in `0.18.3` be the cause?

`Field` is from `redux-form`:

[code]

Form co

[2017-11-20 18:13] gurre commented on #131
A loading indicator is a good idea. The autocomplete component is still there:
https://material-ui-next.com/demos/autocomplete/

[2017-11-21 20:43] xiaoouLi commented on #88
@leMaik Do you have an estimate when you can finish it?
We are planning a new feature which uses material-ui v1.0.0,
but we are using your material-ui-chip-input, which means that we cannot do the new feature
right now. If you guys can finish the port in a short run, we will wait for you to finish.
Otherwise, we will go with the old material-ui for this feature....

Really appreciate your answer!

[2017-11-21 20:46] leMaik commented on #88
@xiaoouLi We don't have a use-case for this component at the moment, so unfortunately, there isn't much time to port it. I would really appreciate anyone who needs this component to start porting it, so that everyone will benefit, though! :+1:

You really shouldn't go back to 0.x for this feature. :wink:

[2017-11-23 03:15] jessemull opened #165 "Extensible styles or classnames for rendered elements."
It is currently pretty difficult to target the nested divs, hint text, floating label etc. to apply custom styles. It would be great to either apply a class name or ID to each element. Willing to make the changes and submit a PR. Thanks.  - J

[2017-11-23 08:03] leMaik commented on #165
This will be possible in the Material-UI 1.0.0-beta port that is coming soon. :+1:

See #88, I'll start it in the next week.

[2017-11-24 14:30] leMaik commented on #163
Why would you want to do that from a UX perspective? :open_mouth: Imagine if the user accidentially removes a chip…

[2017-11-24 14:31] leMaik commented on #164
@gknapp Looks like you digged a bit in the code. :+1: Would you like to try to fix this and submit a PR? That'd be awesome!

[2017-11-24 14:32] leMaik commented on #131
@gurre It is indeed, I'm currently porting the component for material-ui 1.0.0 and I'll add a loading spinner in that port. :+1:

[2017-11-24 16:39] chrisabrams commented on #163
👍

I ended up using the controlled input, and just don't add the chip if the max length is exceeded.

[2017-11-24 16:39] #163 closed

[2017-11-26 15:25] leMaik commented on #163
@chrisabrams That sound's like a better option. You can also show a toast that informs the user about the invalid value using that approach. :+1:

[2017-11-27 21:42] gknapp commented on #164
I'll try upgrading to 0.18.3 tomorrow and see if I get the same issue. I don't see how any change in the diff I linked relates to what I encountered. The latest patch is for auto-complete and `onBeforeRequestAdd` returning `false`. I can't reproduce with the stories test harness. Maybe it's a cocktail of things in @espinacs and my application environment.

If I can reproduce it outside of my app,

[2017-11-27 22:12] justinmasse commented on #88
I'm also very interested in this. Needed for an application I'm working on right now. Is there an ETA and a list of things needed to be done?

[2017-11-27 22:18] russellr86 commented on #164
Also experiencing this issue fwiw.

[2017-11-28 09:24] leMaik commented on #88
@justinmasse There is no ETA, but I'm working on it in my spare time. :wink: Things that still need to be done: Port everything. Chips are already displayed and the input is kind-of-working, but auto-complete is still missing. I'll try to publish a first release before christmas. :santa: :gift:

[2017-11-30 13:29] marcw commented on #88
@leMaik Can we help you in any way porting this to mui 1.0?

[2017-12-02 11:51] leMaik commented on #88
@marcw I'm currently trying to get the input field beside of the chips instead of below them, but above the line. It works in the 0.x version by re-implementing an entire input field, but I'd like not to do that here. A solution for this would be really helpful! :+1:

[2017-12-02 14:37] leMaik commented on #88
For those who asked what's left to be done: I added checkboxes for the progress above. :wink:

[2017-12-03 18:09] leMaik commented on #165
This is possible in the 1.0.0-beta release that is coming soon. You can literally make rainbow chips now¹! :smile:

¹There will be a demo in the storybook, it's even animated.
![image](https://user-images.githubusercontent.com/5544859/33528215-3e9972e6-d85d-11e7-9cae-4b4077063cbb.png)

[2017-12-03 19:08] #165 closed

[2017-12-03 19:10] leMaik commented on #88
I just published [v1.0.0-beta.1](https://github.com/TeamWertarbyte/material-ui-chip-input/releases/tag/v1.0.0-beta.1), a first beta of the ported component. :tada:

Auto-complete is still missing (that's why I'm leaving this issue opened), but I'll add that soon™.

[2017-12-03 20:19] marcw commented on #88
@leMaik Amazing! This demo https://material-ui-next.com/demos/autocomplete/ leaves Autocomplete to the `react-suggest` library. This library don't handle multiple values though. I believe https://github.com/paypal/downshift can be used with multiple values.

[2017-12-03 20:26] leMaik commented on #88
@marcw react-suggest seems to do what we need here :+1: The chip input handles multiple values on its own, we just need the auto complete functionality.

[2017-12-04 08:40] marcw commented on #88
@leMaik It would be event better then as marmelab/admin-on-rest already depends on `react-suggest`. Less dependency, more love!

[2017-12-12 16:47] fzaninotto commented on #88
Any progress on this one?

[2017-12-12 17:28] leMaik commented on #88
@fzaninotto Yes, see the checkboxes above. :wink: Everything except auto-complete is already done and released. I'll port the auto-complete feature, I just need to have some free time to do that.
If you want, you can help out by implementing auto-completion with `react-suggest`. :wink:

[2017-12-13 10:33] fzaninotto commented on #88
Thanks, I had already seen your work so far. Kudos for that! I was enquiring about the auto-complete implementation.

As for giving a hand, perhaps the work I've done on [admin-on-rest's AutoCompleteInput](https://github.com/marmelab/admin-on-rest/blob/next/packages/react-admin/src/mui/input/AutocompleteInput.js), which uses `react-autosuggest`, can serve as a base? I know I've spend about 2 days

[2017-12-16 20:41] darkchaplain opened #169 "Chips are not being created in autocomplete"
I have an issue, when chips are not being created after clicking in autocomplete list or choosing an item and pressing "Enter". Version 0.18.3
[code]
Here is short gif, that shows my problem
http://www.giphy.com/gifs/3o6fJ23HFomgp4tF8Q

[2017-12-16 20:53] leMaik commented on #169
This might be related to the fix in #168
Which version of Material UI are you using?

[2017-12-16 21:25] #169 closed

[2017-12-19 00:45] MikeSuiter opened #170 "material-ui 1.0.0-beta.24 breaks next beta.1"
When updating to material-ui 1.0.0-beta.24 chips no longer render the delete icon and throws this error.

[code]

Here is a sandbox that demos it:

https://codesandbox.io/s/2nl11q01n

[2017-12-19 08:58] leMaik commented on #170
Indeed, it needs to be changed to `onDelete`, it's a breaking change in material-ui 1.0.0-beta.24 :confused:

[2017-12-19 09:09] leMaik commented on #170
Fixed in [1.0.0-beta.2](https://github.com/TeamWertarbyte/material-ui-chip-input/releases/tag/v1.0.0-beta.2), thanks for reporting this! :+1:

[2017-12-19 09:09] #170 closed

[2017-12-20 20:25] alexcroox opened #171 "Rejected chip gets added to the next valid chip"
I'm using the following validation on input

[code]

and

[code]

And if I type something that isn't an email it doesn't "chip" it, it does however add it to the next vaild email when I press a newChipKeyCode. How would you recommend I approach this?

![gif](https://cl.ly/oSdO/Screen%20Recording%202017-12-20%20at%2008.25%20pm.gif)

[2017-12-20 20:44] leMaik commented on #171
This is the intended behavior. If `onRequestAdd` returns `false`, the input is _not_ cleared and the chip is _not_ added.

You can, however, remove the `onBeforeRequestAdd` handler and just not add the chip in the `onRequestAdd` handler if it is an invalid email address. That should do what you intend to do. :wink:

[2017-12-20 20:51] alexcroox commented on #171
Ah that makes perfect sense, thank you!

[2017-12-20 20:51] #171 closed

[2017-12-27 15:19] darkchaplain opened #172 "Customize autocomplete MenuItem"
I'm trying to customize `MenuItem` as it's described in http://www.material-ui.com/#/components/auto-complete.
Here is the code:
[code]
I can see customized menu items when I type something:
<img width="604" alt="screen shot 2017-12-27 at 5 14 38 pm" src="https://user-images.githubusercontent.com/7280838/34385175-8931998a-eb29-11e7-8a3a-776767383f44.png">
But I get an error when I choose menu item

[2017-12-27 15:21] leMaik commented on #172
At the moment, it's not possible to customize the `MenuItem`s for this component. It would be a great feature, though! :+1:

We should add a `autoCompleteItemRenderer` that creates a `MenuItem` from a value. Would you like to start a PR that does that?

[2017-12-27 15:24] darkchaplain commented on #172
I will try to have a look at code and make PR

[2017-12-27 15:40] leMaik commented on #172
@darkchaplain Awesome! :tada:

[2017-12-27 16:49] darkchaplain commented on #172
I made an investigation, creating new property does not make sense, because the only way to customize menu item is to modify datasource. I'm going to create PR with solution

[2017-12-28 10:00] darkchaplain commented on #172
@leMaik Could you have a look at PR please and give a feedback?

[2017-12-28 14:59] leMaik commented on #172
@darkchaplain

But a better way to customize the menu items would be to _customize the menu items_ by adding a callback that can do that.

[2017-12-28 15:10] darkchaplain commented on #172
@leMaik it will be natural way like it's described in http://www.material-ui.com/#/components/auto-complete . But I will not complain and will remake, thanks for response.

[2017-12-28 15:13] darkchaplain commented on #172
@leMaik "Additionally, most other properties of Material UI's Auto Complete and Text Field should be supported. Please open an issue if something is missing or does not work as expected."

[2017-12-28 15:14] leMaik commented on #172
@darkchaplain Oh, _now_ I get what the PR does. :thinking: We currently don't handle non-string `dataSource` values properly which prevents you from customizing it like you can do in `AutoComplete`. Stupid me.

[2017-12-28 15:16] darkchaplain commented on #172
@leMaik And if my PR will be accepted, could I ask you to make release as soon as possible, please?

[2017-12-28 15:19] leMaik commented on #172
@darkchaplain I always try to publish a new release right after something is fixed. :+1:

[2017-12-28 17:04] #172 closed

[2018-01-05 07:16] yuzhakovvv commented on #107
@leMaik Any updates here?

[2018-01-05 07:30] leMaik commented on #107
@yuzhakovv Sorry, completely forgot this one. Would you like to submit a PR? :+1:

[2018-01-22 11:49] quorak opened #174 "Add option to Text as Chip on blur event"
Hey there, thanks for the great component.
We have the Issue, that people use the Chip component as they would use a TextField in the beginning.
Thus they write something in the textfield and than click into the next textfield. This makes the entered text dissapear instead adding it as a Chip. Even when we have clearOnBlur set to false, the behaviour is not as expected.

We would suggest to add a

[2018-01-23 14:28] amitos80 opened #175 "obfuscated version takes wrong value"
i'm working with https://github.com/marmelab/admin-on-rest which uses ChipInput, recently i noticed wrong values are taken after selection. when researching further @TarSzator noticed the problem was with obfuscated version of ChipInput. i can confirm after replacing to the original file it did fix the issue. can someone please take a look?

[2018-01-23 21:57] SPAHI4 opened #176 "Error on next branch, material-ui >= 1.0.0.beta-30"
[code]

Breaking changes here https://github.com/mui-org/material-ui/pull/9970

[2018-01-23 22:47] fzaninotto commented on #88
Hi, and happy new year! Any progress on the autocomplete?

[2018-01-23 23:00] leMaik commented on #175
We don't provide any "obfuscated" version of ChipInput, so please use the original files, that should fix it.

[2018-01-23 23:01] leMaik commented on #176
@SPAHI4 Thank you for the hint! Would you like to submit a PR?

[2018-01-23 23:03] leMaik commented on #174
@quorak Thanks a lot for the PR! :tada: The idea is fine, but maybe we should introduce a `blurBehavior` prop and deprecate `clearOnBlur` instead. I.e. `blurBehavior='clear'` and `blurBehavior='add'` :thinking:

[2018-01-23 23:07] leMaik commented on #88
@fzaninotto Nope, but we love pull requests, especially since so many people seem to need this feature. :open_mouth:

[2018-01-23 23:20] #176 closed

[2018-01-23 23:23] fzaninotto commented on #88
@marcw do you feel like giving a hand there? It would help us include this component into react-admin...

[2018-01-23 23:26] leMaik commented on #88
@fzaninotto We're not using this component at the moment at all, so unfortunately, there is not much time to add big features like this one. :disappointed: I'd really like to implement this, though.

[2018-01-24 06:26] TarSzator commented on #175
Can this ticket please be reopened?

The situation is that the version delivered via NPM is NOT working croorectly. It can't be a solution to copy the file from GitHub into our projects!

Obfuscated might be the wrong word but it is babel-ified" in a lib folder when we install it via NPM. This js file does NOT work correctly.

[2018-01-24 07:38] leMaik commented on #175
@TarSzator Neither me nor other users of this library seem to have this issue. :open_mouth: Are you sure you don't have some bad webpack configuration and are trying to transpile `node_modules` or something? Please give me some more information, so that I can look into this. Some error or stack trace might help here. :wink:

PS: You got it! :tada: We aim to make the name perfectly match our work.

[2018-01-24 07:59] TarSzator commented on #175
Will check this later today.

That sure could be the explanation for why we are the only once having this problem so fare.

I will write here when I have more information.

[2018-01-24 09:41] marcw commented on #88
@fzaninotto Yes I got some time this afternoon. I'll check this out.

[2018-01-24 16:05] marcw commented on #88
@fzaninotto @leMaik @djhi I started checking but I'm struggling bridging everything and won't have time to finish anytime soon :(

[2018-01-24 16:27] leMaik commented on #88
@marcw Maybe submit a PR so that we can build upon it? :)

[2018-01-24 16:49] marcw commented on #88
@leMaik I wish I had something to push :(

[2018-01-24 20:13] TarSzator commented on #175
I used react-scripts to build and it seems by default they babelify node_modules. After I ejected the project from react-scripts and changed the config to exclude node_modules it worked.

IMHO ticket can be closed.

[2018-01-24 20:50] leMaik commented on #175
@TarSzator Glad you found the issue, this might help other people, too!

[2018-01-24 20:50] #175 closed

[2018-01-25 14:12] fzaninotto commented on #88
@quorak kudos!

[2018-01-27 05:29] karthikmurugadoss opened #178 "Warning raised while using onUpdateInput (next branch)"
I received the following warning message while using onUpdateInput.
[code]
Is this perhaps because onUpdateInput is not specified in ```this.props``` at https://github.com/TeamWertarbyte/material-ui-chip-input/blob/next/src/ChipInput.js#L379?

[2018-01-27 08:51] quorak commented on #174
will add this to the next branch

[2018-01-27 13:05] leMaik commented on #178
Thank you! :+1: I added a test for this (that ensures that no warning pops up and `onUpdateInput` works properly. Should never happen again.

[2018-01-27 13:05] #178 closed

[2018-02-02 18:40] anjuschi opened #180 "Chips added with custom chipRendered added below"
I am using the next version that is being ported to Material-ui 1.0.0 beta. I noticed that when I pass a chipRenderer, the new chips are being added below the existing instead of on the same line as the existing. If the remove the chipRenderer then the chip are added on the same line.
Any suggestions?

Furthermore, the reason I am using a chipRenderer is because without it, the ChipInput in creati

[2018-02-02 23:29] leMaik commented on #180
Sounds like some styles are missing from your custom chips. Could you please show your custom renderer?

[2018-02-05 18:04] anjuschi commented on #180
Below is the code for the ChipInput including the custom renderer. The only style I have added is a top margin since the chips were sticking to each other.

 <ChipInput
              value={this.state.receivers}
              onAdd={this.onChangeReceivers}
              onDelete={this.onDeleteReceiver}
              onBlur={this.onBlurReceiver}
              newChipKeyCodes={[13, 188, 9]}

[2018-02-06 19:37] anjuschi commented on #180
I installed the latest version of your library and it works now! Thanks.

[2018-02-06 19:37] #180 closed

[2018-02-08 16:08] gknapp commented on #164
I've upgraded to `0.18.5`, not seen this or any issues.

[2018-02-08 16:08] #164 closed

[2018-02-12 12:54] orm109 opened #181 "Uncontrolled objects as chips - empty value"
Hey all and thanks for this component

The thing is that in case of uncontrolled objects as chips, empty string is allowed
if you press "Enter" without any text you will get a new chip with an empty string

see this [storybook](https://teamwertarbyte.github.io/material-ui-chip-input/?selectedKind=ChipInput&selectedStory=objects%20as%20chips%2C%20uncontrolled&full=0&down=1&left=1&panelRight=0&downP

[2018-02-12 13:19] leMaik commented on #181
Thanks for reporting this bug. I'll try to fix it soon.

[2018-02-12 13:43] orm109 commented on #181
https://github.com/TeamWertarbyte/material-ui-chip-input/pull/182
what do you say ?

[2018-02-12 13:44] leMaik commented on #181
@orm109 Thanks a lot! :+1:

[2018-02-12 13:44] #181 closed

[2018-02-12 13:49] leMaik commented on #181
A wild v0.18.6 appeared! https://github.com/TeamWertarbyte/material-ui-chip-input/releases/tag/v0.18.6

[2018-02-17 01:15] goodbomb opened #183 "openOnFocus prop not working for version 1.0.0-beta.3"
Material-ui version: **1.0.0-beta.33**
Material-ui-chip-input version: **1.0.0-beta.3**

I can't seem to get the `openOnFocus` prop to work. When I use it, I get the following error:

[code]

[2018-02-17 11:39] leMaik commented on #183
Thansk for reporting this. Since autocompletion is not yet available in the 1.0.0 version, `openOnFocus` has no effect at the moment. It shouldn't throw a warning, though. I'll fix that.

Regarding auto completion, please see #88. There is a PR that starts to add this, but I didn't have much time to merge this, yet.

[2018-02-17 12:04] #183 closed

[2018-02-19 16:48] orm109 opened #184 "Cannot change Chip style"
should have the option by a prop to change the Chip style, similar to `chipContainerStyle`

[2018-02-19 23:25] leMaik commented on #184
Thanks for raising this and for the PR! :tada:
I'll not merge it, though. This can already be done by implementing a custom `chipRenderer`.

[2018-02-19 23:26] leMaik commented on #184
There is even an example with custom chip styles: https://github.com/TeamWertarbyte/material-ui-chip-input/blob/master/stories/index.js#L104 :disappointed:

[2018-02-19 23:29] #184 closed

[2018-02-20 10:50] orm109 opened #186 "chipRenderer: isFocused is bad when using dataSourceConfig"
`isFocused` should be using for coloring the Chip

see [storybook](https://teamwertarbyte.github.io/material-ui-chip-input/?selectedKind=ChipInput&selectedStory=objects%20as%20chips%2C%20uncontrolled&full=0&down=1&left=1&panelRight=0&downPanel=storybook%2Factions%2Factions-panel)

something is bad with the logic here:
[code]

[2018-02-20 11:04] orm109 commented on #186
`focusedChip` is a value and not an object

[2018-02-20 11:19] leMaik commented on #186
Good one! :+1: Would you mind checking this on the `next` branch and maybe submit a PR there, too?

[2018-02-20 11:22] orm109 commented on #186
i will do it later
how about adding to storybook ?

[2018-02-20 13:11] orm109 commented on #186
@leMaik the issue does not appear in `next`

seems like this one work well
[code]

[2018-02-20 13:17] orm109 commented on #186
when do you think to have `next` into `master`?

[2018-02-20 14:03] leMaik commented on #186
In all of our material-ui-related projects, `next` is the port for material-ui 1.0.0-beta. It will be merged into `master` when material-ui 1.0.0 becomes stable. The current `master` branch will then be renamed to `legacy`.

[2018-02-20 17:14] orm109 commented on #186
Ok
What else is needed in order to merge this one ?

[2018-02-21 09:18] #186 closed

[2018-02-21 09:40] leMaik commented on #186
@orm109 There you go: https://github.com/TeamWertarbyte/material-ui-chip-input/releases/tag/v0.18.7

[2018-02-26 21:19] orm109 opened #188 "possibility to get autocomplete list to scroll"
by the default of `AutoComplete`, it is not possible to scroll the list

a solution for it is
https://stackoverflow.com/questions/40727402/is-it-possible-to-get-autocomplete-list-to-scroll
[code]
or
[code]

seems like we should add `listStyle` as a prop

[2018-02-27 06:11] orm109 commented on #188
just have found that `other` pass to the `AutoComplete` component
[code]

so i can easly use
[code]

i close this PR

[2018-02-27 06:12] #188 closed

[2018-03-01 12:30] gknapp commented on #174
Until this PR is raised and merged, how can this be implemented in `onBlur`?

[2018-03-02 16:06] nabiltntn opened #189 "Custom onNewRequest function property from Autocomplete is not called"
I wanted to add `onNewRequest` to add custom behavior when adding item from Autocomplete but the function  was not fired.
[code]
**Versions :**
"material-ui": "^0.19.4",
"material-ui-chip-input": "^0.18.7",

[2018-03-27 13:35] auahmed opened #193 "Material UI Next"
Was wondering if there was any idea on when the next branch for material UI next will be completed?
This is very helpful thanks :)

[2018-03-27 13:44] leMaik commented on #193
It's already ported, except for the auto-completion: https://github.com/TeamWertarbyte/material-ui-chip-input/tree/next

[2018-03-27 13:44] #193 closed

[2018-03-30 22:15] juanda99 commented on #133
Any update on this?
I'm just trying to implement it, see:
[![Edit jz5r521oj5](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/jz5r521oj5).

I'm not sure why chipRenderer is needed as it render {text} by default. In my case I just copy-paste the default function.
However I have to problems:
- My chips are initialized as objects with 2 keys (values, and objects). It

[2018-04-05 20:40] liqiang372 opened #194 "Make chips editable?"
user can double click existing chips, modify texts and press enter will update the selected chip.
Like the third use case in Basic Usage https://material.angularjs.org/latest/demo/chips. Though it is buggy in that page

[2018-04-13 10:03] johnandblue opened #195 "Question: How to handle selecting only chips from the dataSource?"
In my case I need the user to only be able to select items from the `dataSource`, so he cannot add new chips when he types.
Is there any way of handling that issue?

Thanks!

[2018-04-13 10:11] leMaik commented on #189
If you want some custom behavior when adding an item, use `onRequestAdd` or `onChange`.

Since we _add_ the value to the chip input when enter is pressed or a list item is selected, overriding `onNewRequest` is not really useful anyway.

[2018-04-13 10:13] leMaik commented on #195
It's not yet possible to only allow adding items from the dataSource (PR welcome!) but you could prevent items that don't come from the dataSource in `onBeforeRequestAdd`.

[2018-04-13 10:17] johnandblue commented on #195
I'll try to make it work with `onBeforeRequestAdd`, thanks! (and I'll put in my TODOs the PR if I make it work 😉 )
Also I was looking for the source code that you're using in the storybook, to look at the examples, as they would be really useful, but I couldn't find the repo. would it be possible to share the link?

Thanks again!

[2018-04-13 10:37] leMaik commented on #195
Glad I could help. Feel free to re-open this issue (or create a new one) if you have further questions.

[2018-04-13 10:37] #195 closed

[2018-04-16 19:12] johnandblue opened #196 "Question: How to reference a ChipInput when using onChange?"
lets say that I have several `ChipInputs` and all of them use a similar `handleFunction` when `onChange`, but I need to know the name of the `ChipInput`. the idea would be doing something like we can do in a material-ui TextField, but with the chips.
[code]
I get `onChange` only passes the `chips` as parameter? or there is any other way to reference the `ChipInput` that is being triggered?

Thanks

[2018-04-16 20:17] leMaik commented on #196
:thinking: Use a different handler function for every chip input. Or maybe wrap the chip input so that you can add a name to it. At the moment, since the event doesn't come from the chip input but the underlying text field, `e.target.name` wouldn't really contain anything useful.

[2018-04-16 20:33] johnandblue commented on #196
Yep, I considered both cases. It's just I'm working in a form that contains 60 fields... so imagine creating 60 handle functions every time the component is  created... 😥...
I guess best solution is wrap the `ChipInput` and pass and identifier as a parameter alongside the cb

[2018-04-16 20:35] leMaik commented on #196
Wrapping existing components is really helpful to get shorter code. :+1:

E.g. like this

[code]

[2018-04-16 20:39] johnandblue commented on #196
Yup! thanks a lot ;)

[2018-04-16 20:41] #196 closed

[2018-04-19 06:57] devdane opened #197 "Popover should display above the input field"
I'm trying to get the chip-input popover to appear above the chip, so that menu items do not disappear off the bottom of the screen. The most logical place to do this seems to be in the menuStyle property, like this:
[code]

Changing anchorOrigin and targetOrigin has no effect and the popover keeps showing up below the chip input (as in the pic). Has anyone managed to do this before?
![image](http

[2018-04-19 08:46] devdane commented on #197
Passing anchorOrigin and targetOrigin as props directly does the trick:
[code]

[2018-04-19 08:46] #197 closed

[2018-04-24 06:50] ohansrud opened #198 "Does not work with mobile keyboards that have no Enter key"
The following code works on desktop version, but not when I open the page on my android phone:

                        <ChipInput
                          errorText={null}
                          value={myValue}
                          floatingLabelText="Something"
                          onRequestAdd={(chip) => this.addChips(chip, n)}
                          onRequestDelete={(chip, inde

[2018-04-25 14:10] llamamoray opened #199 "Long error messages aren't positioned correctly"
Hi,

If the error message of the input is too long and overflows to another line, the control doesn't position it correctly like the material-ui TextField.

Any ideas how to fix this?

![image](https://user-images.githubusercontent.com/2970147/39251268-c5590ae6-489a-11e8-9ef7-a9e1ee08ad42.png)

For reference, material-ui:
![image](https://user-images.githubusercontent.com/2970147/39251376-02ebe0e0

[2018-04-26 08:32] ugomeda opened #200 "Placeholder is not displayed entirely when fullWidth is enabled"
In version 1.0.0-beta4, with this code :

[code]

The placeholder is cut :

![screenshot from 2018-04-26 10-27-42](https://user-images.githubusercontent.com/932339/39294837-0bfe4fe0-493d-11e8-918f-cf1aeb43d07f.png)

[2018-04-27 22:46] ncanning opened #201 "Unable to scroll through autocomplete when there's more data than can fit on the screen"
If you have a lot of data in your autocomplete data source, there isn't a way to scroll through the options:

![noscrollchipinput](https://user-images.githubusercontent.com/6805216/39387610-5792b12e-4a2f-11e8-8533-347eb151e4d8.gif)

This is a pretty easy fix, though. The `AutoComplete` component has a `listStyle` prop, which you can give a `maxHeight` and `overFlow: 'auto'`, which solves the issue

[2018-04-28 18:04] leMaik commented on #201
@ncanning Thanks for reporting this. Maybe we can set a reasonable default `maxHeight`, e.g. 300px, to fix this. Would you like to submit a PR? :+1:

[2018-04-28 18:05] leMaik commented on #198
It works fine on mobile, seems to be an issue with your particular keyboard. You can use the `newChipKeyCodes` prop to specify other key codes that should create a new chip. E.g. you can create a new chip when pressing space.

[2018-04-30 11:25] leMaik commented on #199
@llamamoray Seems like something in the style of our [label](https://github.com/TeamWertarbyte/material-ui-chip-input/blob/master/src/ChipInput.js#L508) is different than in Material-UI's TextField.

If you'd like to investigate that, I'd really appreciate a PR. :+1:

[2018-04-30 11:26] leMaik commented on #194
Omg… That looks so complex and bug-prone that I'd prefer not to implement it. :open_mouth:

[2018-04-30 11:28] leMaik commented on #200
This is due to us using the placeholder of the input element (which doesn't fill the entire width by design). We'll have to see how we can fix this.

[2018-04-30 16:27] ncanning commented on #201
Sure, no problem. I should be able to get one out today.

[2018-04-30 17:00] ncanning commented on #201
https://github.com/TeamWertarbyte/material-ui-chip-input/pull/202

[2018-05-01 17:16] joaom182 opened #203 "Performance issue with 200+ items on dataSource"
If `dataSource` param is populated with more than 200+ items and user type on field (Autocomplete), the interface freeze for some `miliseconds`, then result appears (a lot of results 80+).

Has any way to paginate or implement a `take` of the result list?

![may-01-2018 14-14-32](https://user-images.githubusercontent.com/3612098/39483831-0c79c308-4d4a-11e8-9c44-1156a001b01b.gif)

[2018-05-01 17:36] leMaik commented on #203
Currently, there is no way to paginate the search results. You can paginate it yourself and only fill the datasource with a few relevant entries.

Virtualizing the auto complete is pretty complex and a bit out of scope.

[2018-05-01 17:38] #194 closed

[2018-05-01 17:38] #141 closed

[2018-05-01 18:07] joaom182 commented on #203
Changing the dataSource every time the user inputs a value on autocomplete field may no cause a performance issue too?

[2018-05-01 18:24] leMaik commented on #203
@joaom182 Feel free to re-open this if you encounter any further issues. :wink:

[2018-05-04 12:51] nsaubi commented on #88
up ? Any news on the port status ?

Need this comp (which is the best I found for now) for material v1 ! :)

[2018-05-04 12:52] leMaik commented on #88
@nsaubi https://github.com/TeamWertarbyte/material-ui-chip-input/tree/next

[2018-05-05 20:48] ricardovf commented on #88
Great work so far! Any progress on the Autocomplete?

[2018-05-05 20:50] leMaik commented on #88
@nsaubi Thanks. :) Well, at least we have an example for autocomplete: https://github.com/TeamWertarbyte/material-ui-chip-input/pull/192

Since material-ui doesn't contain an autocomplete component anymore, and I don't want to force users to use one specific of the many autocomplete libraries out there, we'll have to add an API so that users can easily plug-in their favorite autocomplete library.

[2018-05-06 11:16] leMaik commented on #201
For future readers: https://github.com/TeamWertarbyte/material-ui-chip-input/blob/master/stories/index.js#L76

[2018-05-06 11:16] #201 closed

[2018-05-08 10:51] llamamoray commented on #199
Hi @leMaik - fix in PR #204

If you're happy with that I'd very much appreciate if this could be published asap :)

[2018-05-08 13:01] CHRehan opened #205 "App Crash when i opened multiple chips Detailed and cancel one by one."
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: shahisawari.pk, PID: 6989
    java.lang.IndexOutOfBoundsException: Index: 1, Size: 1
        at java.util.ArrayList.get(ArrayList.java:411)
        at com.pchmn.materialchips.adapter.ChipsAdapter.removeChip(ChipsAdapter.java:305)
        at com.pchmn.materialchips.adapter.ChipsAdapter$5$1.onClick(ChipsAdapter.java:228)
        at android.view.Vi

[2018-05-08 13:01] #205 closed

[2018-05-08 13:07] #199 closed

[2018-05-08 13:40] leMaik commented on #199
@llamamoray [v0.18.8](https://github.com/TeamWertarbyte/material-ui-chip-input/releases/tag/v0.18.8) is out now, thank you! :+1:

[2018-05-13 09:56] frenya opened #206 "Please export the defaultChipRenderer"
Hello,

would it be possible to export the `defaultChipRenderer` function in `ChipInput.js`? It would allow for easier customisation of chips in special cases.

Example use case: Make the first chip non-deletable

[code]

Currently, I need to fully replicate the `defaultChipRenderer` including styles, colors etc. to be consistent. Exporting the renderer would make life much easier.

Pretty please

[2018-05-13 10:11] leMaik commented on #206
@frenya It sounds like a great first PR anyway. :+1:

[2018-05-13 16:51] frenya commented on #206
If you insist ... 😄

https://github.com/TeamWertarbyte/material-ui-chip-input/pull/207

[2018-05-13 16:53] leMaik commented on #206
@frenya Thank you, I'll cherry-pick that so that you don't have to submit a new PR for the next branch. :wink:

[2018-05-13 16:56] frenya commented on #206
Thanks 👍

[2018-05-13 17:46] leMaik commented on #206
@frenya v0.19.0 (one added keyword caused a minor version bump :D) will be releases in a few minutes

[2018-05-13 17:46] #206 closed

[2018-05-15 10:04] nsaubi opened #208 "Support for theme overrides ?"
Version : 1.0.0-beta.4

I can't override the chipContainer element in the theme. Don't know if I'm missing something or if functionnality is missing...

[code]
not working.

[2018-05-15 11:14] leMaik commented on #208
It's not possible to customize our components from within the theme. Use the `classes` property instead.

[2018-05-15 15:46] nsaubi opened #209 "Q.v1. Support {shrink: true} for label ?"
Version : 1.0.0-beta.4

Hi,
is it possible to do the same as a TextField element, meaning adding the property `InputLabelProps: { shrink: true }` ?
I would like my label to always float, even if empty.

Thanks

[2018-05-16 11:28] lunochkin opened #210 "material-ui rc support in next version"
There is a rc of material-ui@next
Among other changes it's required to use `@material-ui/core` component now instead of just `material-ui`
So it would be very good to move to this import paths.

[2018-05-16 13:58] nsaubi opened #211 "How to forbit the use of a character in a chip label ?"
Hi,

I would like the "space" to be my chip creator, BUT, I don't want to create empty chips (done with "handleBeforeAdd") and I don't want the input to contains the typed "space" (which "handleBeforeAdd" can't do).

How can I achieve that ? I bet I would need to set the state of the embedded input through some "onInputChange", but it doesn't seems to be possible. Any idea ?

Thanks

[2018-05-16 14:33] juanriglos opened #212 "Add and array with 2 elements"
Hello, i want to add an element with 2 inputs, here i select an option and it add to the array, but what i need is to select an option and add a measure to that option is that possible?. The idea es select and option and a quantity and then add to the chip.

Thank you

[2018-05-16 15:33] sulfurious commented on #210
If no one else is working on this, I'll put a PR together

[2018-05-16 15:36] leMaik commented on #210
We will update our projects in the coming weeks. This one has the most users and thus the highest priority.

@sulfurious That would be great, I look forward to your PR. I won't have time for the update until friday.

[2018-05-16 17:45] sulfurious commented on #210
PR #213  is in for approval

[2018-05-16 20:56] leMaik commented on #212
That's not possible and there are no plans to implement it as it's a pretty big change. Feel free to fork this project, though. It should be a good base to start on. 👍

[2018-05-17 07:44] leMaik commented on #210
That was fast! :racing_car: I'll release asap.

[2018-05-17 07:56] nsaubi commented on #211
Sorry my question was uncomplete, but my previous title was better I think...

Of course I did the newChipKeyCodes thing, but let's imagine you want at least 3 characters long chips...
So I have the space bar listened for creation with newChipKeyCodes, I have handleBeforeAdd to return false if trim(string).length < 3, BUT this way, the input is fulled with spaces I don't want. I want space bar to

[2018-05-22 11:56] 009800 opened #214 "Bring back auto-complete"
React does not recognize the `hintText`

I'm getting this error. And then I had a look to the ChipInput.js and there was no implementation for hintText. The auto complete is not working as well.

Matierl-ui 1.0.0 and material-ui-chip-input@next

Do I miss something?

Edit: Sorry I just saw it has changed to `helperText`. But the autocomplete is still not working. (I'm using dataSource={['alpha', '

[2018-05-22 12:18] leMaik commented on #214
I need more information than "is still not working" to help you. Would you please show a bit of your code? :wink:

[2018-05-22 12:20] leMaik commented on #214
Unfortunately,aAuto-complete is not yet implemented. See #88 and #192 for an example on how to integrate react-autosuggest with material-ui-chip-input.

In the future, we'd love to have examples on how to use various auto-suggestion libraries. PRs welcome! :tada:

[2018-05-22 12:22] leMaik commented on #214
Sorry, I was a bit fast with closing this. :confused:

[2018-05-30 12:40] vincentbouillart commented on #214
https://material-ui.com/demos/autocomplete/ ?

[2018-06-04 20:43] ElectricRCAircraftGuy commented on #91
Can you demonstrate giving a negative marginTop value in a div? I'd like to remove the 14 pixels too.

[2018-06-04 21:04] ElectricRCAircraftGuy commented on #91
After many hours I found an alternate solution:

[2018-06-11 13:39] lstr168 opened #215 "Are there any built in functionality for Clear/Delete All Chips?"
Hi, guys maybe you could help me!

I was looking for something to Clear/Delete all Chips functionality  (x in the end of the TextField or something like that).

All I found was this one
https://github.com/TeamWertarbyte/material-ui-chip-input/issues/43

So my question is are some there build-in functionality for that?
Thank you

[2018-06-11 13:40] leMaik commented on #215
Hi, there is no built-in functionality to do so and we won't add them. Please use controlled mode to control the chips, as shown in the issue you linked. https://github.com/TeamWertarbyte/material-ui-chip-input/issues/43#issuecomment-261705304

[2018-06-11 13:40] leMaik commented on #215
Whoops, I was a bit quick to close this. Feel free to comment on this if you need further help.

[2018-06-11 13:50] lstr168 commented on #215
Hi @leMaik, thank you for the fast answer.
May I ask what's the reason you wouldn't add this functionality?
I think it is a very useful one and also
Regarts

[2018-06-11 13:52] leMaik commented on #215
It's _very_ un-React-y. :wink: The react way is to control components from outside, by using a `value` and a `onChange` prop. While I agree that clearing all chips is a pretty useful thing, it's also trivial to implement on your side and using a controlled component is much more flexible.

Imagine someone wants to remove all chips that start with 'A'. Easy thing to do with a controlled component;

[2018-06-11 14:02] lstr168 commented on #215
I'm not a react pro but I think a trailing icon and handle the click event is how I would do it in react.

Is there a way to add a trailing icon?

[2018-06-11 14:03] leMaik commented on #215
Yes, just add an `IconButton` next to the chip input.

[2018-06-11 14:03] #215 closed

[2018-06-11 14:54] lstr168 commented on #215
I think to add it to the endAdornment is better
<ChipInput
                                value={this.state[property.PropertyName]}
                                onRequestAdd={this.handleChange(property)}
                                onRequestDelete={this.handleChange(property, true)}
                                endAdornment={
                                    <IconButton

[2018-06-12 11:58] lstr168 opened #216 "Separate other props to FormControlProps and InputControlProps (call it what ever you like)"
Hi, I'd like to sugesst to separate ...other to formControlProps and inputControlProps.
So that different properties can be applied to  this 2 components.

[2018-06-12 19:52] leMaik commented on #216
:+1: PR welcome

[2018-06-22 16:04] hill84 opened #217 "Margin "normal" mixed behavoiur"
When I set the property `margin` to `normal` the requested margin is correctly set (margin-top: 16px, margin-bottom: 8px) but I receive the following error in console:

It seams that the only two valid options are `dense` or `none`, but to be consistent with Material-UI v.1.x.x it should also support `normal`.

Also, the margin property is not mentioned in the README.md file.

[2018-07-03 10:40] swallentin opened #218 "Request: TypeScript typings"
Hi,

Thank you for providing this excellent component.

Our team would like to use this component but our project is written in TypeScript so we're wondering if there are any plans to add typings to the project?

[2018-07-11 12:45] jannnik commented on #218
I also wondered why there are no typings for this great component. My team could provide some help if help is appreciated.

[2018-07-14 19:35] leMaik commented on #218
We don't use TypeScript and keeping the definitions up to date is an additional effort. Feel free to submit typings though, we'll be happy to merge them. :+1:

[2018-07-17 17:39] jannnik commented on #217
I also wondered why it is not consistent with Material-UI 1.x.x. Did you get margin: dense working? I I use `margin: dense` the blinking indicator of the textfield is not vertically centered with the chips.

[2018-07-18 08:45] keymandll commented on #210
In response to the latest comment, @material-ui/core is over 1.0.0 by now. When will you release v1.0.0,  please?

[2018-07-18 11:39] leMaik commented on #210
@keymandll This library works fine with v1.0.0. Please open a new issue if you encounter any problems.

[2018-07-18 11:40] #212 closed

[2018-07-18 11:41] #208 closed

[2018-07-18 11:42] leMaik commented on #198
I'll close this as a work-around is described above and fixing bad mobile keyboards is a bit out of scope.

[2018-07-18 11:42] #198 closed

[2018-07-18 11:57] keymandll commented on #210
Great, thank you very much! Looking forward for the release. :)

[2018-07-20 07:05] ShankyPatel commented on #43
Hi,

You can remove all child views from the flexbox where you are adding the chips, in case you want to delete all chips. Just do this,

`flexBox.removeAllViews();`

Cheers,
Sanket

and it'll clear all chips.

[2018-07-20 08:43] leMaik commented on #214
Now that the PR is finally merged, I think this can be closed. :sunglasses: The example can be found [here](https://github.com/TeamWertarbyte/material-ui-chip-input/blob/master/stories/examples/react-autosuggest.js)

[2018-07-20 08:43] #214 closed

[2018-07-20 08:45] leMaik commented on #209
This is possible by specifying `InputLabelProps={{ shrink: true }}`

[2018-07-20 08:45] #209 closed

[2018-07-20 08:46] leMaik commented on #216
:scream: I just realized that `other` is _really_ bad because it is spread to _two_ components. I'll fix this ASAP!

[2018-07-20 08:50] #216 closed

[2018-07-20 08:51] leMaik commented on #174
I don't know why I didn't close this, but this feature is included since v1.0.0-beta.5

[2018-07-20 08:51] #174 closed

[2018-07-20 08:53] #189 closed

[2018-07-24 14:40] gknapp opened #220 "onBeforeRequestAdd() still adding chip on false (async / await function)"
I'm using `0.19.0` as I can't upgrade to the 1.x release yet (too much code to migrate before launch).

I have a validation function that checks if a service name exists on the back-end (axios HTTP call), before the chip should be added. However, the chip is added anyway. Would this be due to `undefined` returning falsey?

My code:

[code]

In the console I can see `false` is returned but as this

[2018-07-24 15:17] leMaik commented on #220
We don't support promises here. You might want to use the component in controlled mode and perform the logic in the `onChange` handler and update (or not update) the `value` prop after you checked if the resource is available.

[2018-08-16 16:14] riquedev opened #221 "onDelete() After removing an Array value, the component does not update"
I am having the following problem:

I have an array with some values, I can add values perfectly!
However, when I click to remove it it triggers the "onDelete" and even takes the value from the array, however the component is not updated (unless I click on the input again).

[code]

[2018-08-22 12:19] janithmalshan opened #223 "Placeholder text does not show with label shrink false"
While keeping input label always on top **{shrink: false}**, placeholder text does not render. It renders after click on the input field.

[2018-08-22 12:22] janithmalshan opened #224 "Chip label could not style"
I have added the ChipInput **(_1.0.0-beta.6_)** and perfectly worked with _classes_ property.
But inner text of the chip couldn't style.

![image](https://user-images.githubusercontent.com/17025136/44506506-54203d80-a6c4-11e8-8e9d-615621fb8be4.png)

I used _label_ key to do this.
But it does not add any styling.
[code]

[2018-08-22 15:57] leMaik commented on #223
See #209

[2018-08-23 05:16] janithmalshan commented on #223
No, #209, does not do that

[2018-08-23 05:38] janithmalshan commented on #224
Give me shout if not clear 😉

[2018-08-23 05:49] janithmalshan opened #225 "Custom element as a placeholder"
Is it possible to add ChipInput as a placeholder? 😊 Something similar to;

![image](https://user-images.githubusercontent.com/17025136/44506909-23410800-a6c6-11e8-9ef8-cc5a1ff6e311.png)

[2018-08-25 00:30] dandv opened #227 "Include chip input among mui.wertarbyte.com demos?"
I'm new to Wertarbyte Material-UI Components, so perhaps I'm missing something, but shouldn't this component be listed at https://mui.wertarbyte.com ?

In fact, the first paragraph on that page says,

But neither the chip input nor the date picker are featured in the left sidebar.

[2018-08-25 23:57] leMaik commented on #227
We will add it for sure, this component is one of our most used ones. :sunglasses:  We need to add a styleguide for this component first, though.  This will take some time.

I don't know why our time picker is missing, though. I'll look into that next week.

[2018-08-25 23:59] leMaik commented on #225
I don't really know what you mean. Do you want to use a chip as placeholder?

[2018-08-26 04:06] janithmalshan commented on #225
Exactly yes. :D
I want to use chip as a placeholder.

On Sun, Aug 26, 2018 at 5:29 AM Maik Marschner <notifications@github.com>
wrote:

[2018-08-27 11:40] leMaik commented on #144
@foloinfo @matsumatsu233 I'm closing this because I can't reproduce it and I'm unable to fix these kind of bugs. Please don't hesitate to open a new issue if you encounter any IME bugs. :+1:

[2018-08-27 11:40] #144 closed

[2018-08-27 12:30] DanielArthurUK commented on #21
@pvjones `REGISTER_FIELD` actions are only dispatched for each field in your form. It sounds like you're stuck in some kind of render loop 🤔

[2018-08-29 01:00] JulioPablo opened #228 "When input has error prop set to true, the underline does not change color."
Here's a codesandbox showing this issue: [https://codesandbox.io/s/qllq5n1j](https://codesandbox.io/s/qllq5n1j)

I've added the label prop as well, to visually show that the error prop is being received it would be nice if the underline changed to the same color.

The culprit seems to be in ChipInput.js
`error: {
      '&:after': {
        backgroundColor: theme.palette.error.A400,
        transfo

[2018-08-31 09:05] leMaik commented on #227
@dandv Time Picker is up: https://mui.wertarbyte.com/#material-ui-time-picker

[2018-08-31 09:26] leMaik commented on #224
@janithmalshan Please use the `chipRenderer` to customize the appearance of the chips. The storybook has an example on how to do that.

[2018-08-31 09:26] #224 closed

[2018-08-31 09:27] leMaik commented on #218
@jannnik Any help would be highly appreciated. :+1:

[2018-08-31 11:30] gknapp commented on #220
Just to provide a conclusion (for others that stumble across this).

I worked around this by calling a side effecting function (redux action) that did not return a result to `onBeforeRequestAdd`. The chip was added, when the network fetch completed, the state was updated and an error shown, if appropriate, a few milliseconds later.

Not text book but it got the job done.

[2018-09-07 11:31] olastor opened #229 "React Autosuggest example with blurBehaviour='add' is broken for clicking on suggested item"
**Steps to reproduce**:

- Go to the [react autosuggestion with blur](https://teamwertarbyte.github.io/material-ui-chip-input/?selectedKind=ChipInput&selectedStory=with%20react-autosuggest%20and%20add%20on%20blur&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) example
- Enter i.e. "a"
- Click on a suggested item
- Both the input value ("a") and the selected v

[2018-09-07 13:38] leMaik commented on #223
@janithmalshan Sorry, I was pretty busy. I'll try to fix the open bugs shortly.

[2018-09-07 14:49] #228 closed

[2018-09-07 15:04] #223 closed

[2018-09-07 15:05] leMaik commented on #223
This will be fixed in the next release (tomorrow). Note that to shrink the label, you need `InputLabelProps={{ shrink: true }}`
I added a unit test that verifies if this behavior works.

[2018-09-08 16:27] leMaik commented on #217
According to Material-UI, only `dense` and `none` are supported values for Input. https://material-ui.com/api/input/ That's why you get the error, since we just pass that property through.

That said, the TextField does support `normal` and I'll make the ChipInput support the TextField's margin values.

[2018-09-08 16:36] leMaik commented on #217
Can't reproduce this anymore. Maybe it was a Material-UI bug. :thinking:

[2018-09-08 16:36] #217 closed

[2018-09-08 17:04] leMaik commented on #229
@olastor I found a solution that only affects the example and thus closed your PR. Thank you for the first fix, though. :+1:

[2018-09-08 17:53] janithmalshan commented on #223
Thank a lot :)

On Fri, Sep 7, 2018 at 8:35 PM Maik Marschner <notifications@github.com>
wrote:

[2018-09-08 17:56] leMaik commented on #227
Done: https://mui.wertarbyte.com/#!/material-ui-chip-input

[2018-09-08 17:56] #227 closed

[2018-09-10 07:48] olastor commented on #229
@leMaik Cool. Thanks for the quick response and the fix.

[2018-09-10 08:44] olastor commented on #229
@leMaik If I now click on a suggested item, the autocomplete does not show up when typing something afterwards (in the storybook). Can you reproduce that?

[2018-09-10 09:46] leMaik commented on #229
@olastor Yes, I can reproduce that.

[2018-09-14 08:49] nsaubi commented on #211
Any news ?

[2018-09-14 08:54] nsaubi opened #231 "React autosuggest example : allowDuplicates not working ?"
Hi,

in the react autosuggest examples, the allowDuplicates is not set (so it defaults to false). Nevertheless, the input accepts many times the same value. Is it normal ? How to prevent this ? I bet we have to implement it ourself in the handleAddChip method from Autosuggest ?

Thanks

[2018-09-17 09:09] leMaik commented on #198
@robsdedude You could use space for adding new chips. That said, the Android on-screen keyboard seems to suck. Regarding market share: Not every Android phone uses the same keyboard.
PRs regarding textInput welcome. :+1:

[2018-09-17 14:40] robsdedude commented on #198
Another idea that comes to my mind is an option to add a + IconButton or so to the right of the input that, when clicked/touched, adds a new chip. So that you don't have to rely on the keyboard capabilities at all.

[2018-09-17 14:54] robsdedude commented on #198
Despite the button idea it could also be worth experimenting with textarea as input (causes Android to show the enter key): https://jsfiddle.net/taditdash/b8ee0gnu/

[2018-09-17 14:55] leMaik commented on #198
@robsdedude The second option sounds like a great workaround! :+1:

[2018-09-18 15:33] farjasju opened #232 "Placeholder width not adapting with input field width ?"
With fullWidth set to true, it seems like the placeholder remains stuck with a fixed width, not allowing it to print entirely.
![capture](https://user-images.githubusercontent.com/39554817/45698692-de937a00-bb68-11e8-9d31-5f9773ac5552.png)

[2018-09-21 17:05] fabriziocucci commented on #232
This is kind of a duplicated of https://github.com/TeamWertarbyte/material-ui-chip-input/issues/200.

[2018-09-21 17:07] fabriziocucci commented on #200
Is there a temporary workaround for this?

[2018-09-22 16:17] leMaik commented on #200
@fabriziocucci No, but I'd appreciate a PR that permanently fixes this. :+1:

[2018-10-07 19:13] leMaik commented on #232
As @fabriziocucci pointed out, this is a duplicate. PRs that fix this welcome, it's not that easy, unfortunately. :disappointed:

[2018-10-07 19:13] #232 closed

[2018-10-08 11:49] leMaik commented on #231
Uhm… Maybe. If you find a fix, I'd love to see a PR that fixes it. :+1:

[2018-10-10 06:34] #218 closed

[2018-10-15 07:39] Neilpoulin opened #234 "Add support for other input "variants""
TextInputs in material-ui support variants, such as `outlined` and `filled`. Using the chips component doesn't support all of these variants, but it would be great if it did. See [here]( https://material-ui.com/demos/text-fields/#outlined) for examples. Implementation details can be found [here](https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/TextField/TextField.js)

[2018-10-15 07:46] lushkovsky-s opened #235 "New chip with ',' and ';'"
New chip creation is not working with ',' (ascii code 44) and ';' (ascii code 59)

E.g.
[code]
Input will create chips only with enter (13) and space (32)

[2018-10-15 07:58] leMaik commented on #234
Sounds like a great improvement. :+1: A Pull Request would be highly appreciated.

[2018-10-15 08:01] leMaik commented on #235
, and ; have keyCode 188.  Unfortunately, we can't distinguish them this way. Also, keyCode is deprecated, so we should drop it and use `event.key` instead. :thinking:

[2018-10-15 22:02] #234 closed

[2018-10-16 20:29] Tamakimouto opened #238 "A built in way to disable underline/inkbar."
Material UI's Input has a disableUnderline prop that gets rid of the underline. Passing it down through InputProps doesn't do what I expected it to in this case as the Input doesn't refer to the visible input.

There should probably be a prop that disables it for ChipInput, at the very least I suggest adding `underline` and `inkbar` to the classes override docs.

[2018-10-18 19:47] Neilpoulin commented on #238
I am pretty sure you can pass `disableUnderline` to the root component, and it will disable the underline. See the [storybook](https://teamwertarbyte.github.io/material-ui-chip-input/?selectedKind=ChipInput&selectedStory=without%20underline&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel).